//
// Card Featured
// --------------------------------------------------

.card-featured {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  .card-thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    width: 50%;
    position: relative;
    z-index: 0;
    min-height: 700px;
    @include media-breakpoint-down(xl) {
      min-height: 600px;
    }
    @include media-breakpoint-down(lg) {
      min-height: 420px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      min-height: auto;
      height: auto;
      &:before {
        position: relative;
        z-index: 1;
        padding-top: 50%;
        content: "";
        display: block;
      }
    }
  }
  .card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 120px 100px 120px;
    @include media-breakpoint-down(xl) {
      padding: 60px 60px 60px 60px;
    }
    @include media-breakpoint-down(lg) {
      padding: 40px 40px 40px 40px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 30px 20px 40px 20px;
    }
  }
  .card-footer {
    margin: auto 0 0 0;
  }
  .card-content {
    max-width: 540px;
    padding-bottom: 40px;
    @include media-breakpoint-down(xl) {
      padding-bottom: 30px;
    }
    @include media-breakpoint-down(lg) {
      padding-bottom: 20px;
    }
    @include media-breakpoint-down(md) {
      max-width: inherit;
      padding-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      max-width: inherit;
      padding-bottom: 0px;
    }
    h2, .h2 {
      font-family: $font-family-sans-bold-condensed;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 1;
      margin: 0 0 35px 0;
      @include media-breakpoint-down(xxl) {
        font-size: 3.2rem;
        margin-bottom: 30px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 2.8rem;
        margin-bottom: 25px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 2.4rem;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        font-size: 2rem;
        margin-bottom: 16px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.75rem;
        margin-bottom: 12px;
      }
      a {
        text-decoration: none;
      }
    }
    h3, .h3 {
      font-family: $font-family-sans-bold-condensed;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 1;
      margin: 0 0 25px 0;
      max-width: 500px;
      @include media-breakpoint-down(xxl) {
        font-size: 2.8rem;
        margin-bottom: 30px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 2.5rem;
        margin-bottom: 25px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.7rem;
        margin-bottom: 20px;
      }
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: 1.25rem;
      line-height: 1.45;
      max-width: 450px;
      @include media-breakpoint-down(xl) {
        font-size: 1.2rem;
        margin-bottom: 25px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.12rem;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        max-width: inherit;
      }
    }
    &.text-large {
      max-width: 400px;
      p {
        font-size: 1.75rem;
        line-height: 1.28;
        @include media-breakpoint-down(xl) {
          font-size: 1.55rem;
        }
        @include media-breakpoint-down(lg) {
          font-size: 1.25rem;
        }
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }
    }
  }
  &.thumb-right {
    .card-thumb {
      order: 1;
      @include media-breakpoint-down(md) {
        order: 0;
      }
    }
    .card-body {
      order: 0;
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }
  }
  &.bg-dark {
    .card-content {
      h2, .h2 {
        color: $white;
        a {
          color: $white;
        }
      }
      p {
        color: $white;
      }
    }
  }
  &.card-featured-medium {
    .card-body {
      .card-content {
        h2, .h2 {
          font-size: 3.25rem;
        }
      }
    }
  }
  &.card-featured-small {
    .card-thumb {
      min-height: 550px;
    }
    .card-body {
      padding: 50px;
      @include media-breakpoint-down(xl) {
        padding: 40px 40px 40px 40px;
      }
      @include media-breakpoint-down(lg) {
        padding: 40px 40px 40px 40px;
      }
      @include media-breakpoint-down(md) {
        padding: 30px 20px 20px 20px;
      }
      .card-content {
        max-width: 400px;
        padding-bottom: 20px;
        h2, .h2 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.125rem;
        }
      }
    }
  }
}

