//
// Card Book
// --------------------------------------------------


.card-book {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .card-thumb {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: "";
      display: block;
      position: relative;
      z-index: 1;
      padding-top: 100%;
    }
    img {
      width: 60%;
      height: auto;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-left: 5px;
      margin-top: 5px;
    }
    .card-book-utilities {
      position: absolute;
      z-index: 2;
      top: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      transition: all 0.8s ease;
      a {
        text-decoration: none;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        margin-bottom: 7px;
        opacity: 0;
        transition: all 0.8s ease;
        &:hover {
          text-decoration: none;
        }
        &:first-child {
          opacity: 0.5;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        fill: $white;
      }
      &:hover {
        a {
          opacity: 1;
          background-color: $white;
          svg {
            fill: $dark;
          }
        }
      }
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .card-footer {
    margin: auto 0 0 0;
  }
  .card-content {
    padding: 20px 0 0 0;
    .author {
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      display: block;
      font-weight: 700;
      color: $gray-800;
      margin: 0 0 2px 0;
      .section-archive & {
        font-size: 0.687rem;
        letter-spacing: 0.46px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 0.65rem;
      }
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.562rem;
      line-height: 1.1;
      margin: 0 0 35px 0;
      display: block;
      font-weight: 700;
      min-height: 55px;
      .section-archive & {
        font-size: 1.375rem;
        margin-bottom: 15px;
        min-height: 50px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 1.45rem;
        .section-archive & {
          font-size: 1.35rem;
        }
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
      }
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: 1.25rem;
      line-height: 1.45;
      max-width: 450px;
      @include media-breakpoint-down(xl) {
        font-size: 1.15rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.05rem;
      }
    }
  }
  .card-price {
    font-size: 1.062rem;
    span {
      font-weight: 700;
      &.price-full {
        font-weight: 400;
        text-decoration: line-through;
        margin: 0 0 0 10px;
      }
    }
  }
}

