//
// Card Author
// --------------------------------------------------

.card-author {
  perspective: 150rem;
  .card-thumb {
    position: relative;
    z-index: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 25px 20px;
    justify-content: center;
    align-items: center;
    background-color: $gray-200;
    @include media-breakpoint-down(xl) {
      padding: 24px 18px 24px 18px;
    }
    @include media-breakpoint-down(lg) {
      padding: 22px 15px 22px 15px;
    }
    @include media-breakpoint-down(md) {
      padding: 18px 12px 18px 12px;
    }
    @include media-breakpoint-down(sm) {
      padding: 15px 10px 15px 10px;
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.562rem;
      line-height: 1.1;
      margin: 0 0 0 0;
      display: block;
      font-weight: 700;
      text-align: center;
      @include media-breakpoint-down(xl) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.462rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.362rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.28rem;
      }
      a {
        text-decoration: none;
      }
    }
    .social-links {
      display: flex;
      justify-content: center;
      padding: 10px 0 7px 0;
      a {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 5px 0 5px;
        svg {
          width: 24px;
          height: 24px;
          display: block;
        }
      }
    }
  }
  .card-side {
    transition: all 0.8s ease;
    backface-visibility: hidden;
    overflow: hidden;
  }
  .card-front {
    background-color: $white;
    position: relative;
    z-index: 0;
  }
  .card-back {
    background-color: $gray-100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    .card-body {
      background-color: transparent;
      position: absolute;
      z-index: 1;
      height: calc(100% - 80px);
      width: 100%;
      p {
        display: block;
        margin: 0 0 5px 0;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.58px;
        font-weight: 700;
        color: $gray-800;
        width: 100%;
        text-align: center;
      }
      .book-container {
        position: relative;
        z-index: 0;
        height: 90%;
        width: 100%;
        img {
          width: auto;
          height: 100%;
          margin: 0 auto 0 auto;
        }
      }
    }
    .card-footer {
      padding: 20px 20px 20px 20px;
      margin-top: auto;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  &:hover {
    .card-front {
      transform: rotateY(-180deg);
    }
    .card-back {
      transform: rotateY(0);
    }
  }
}