//
// Card Program
// --------------------------------------------------

.card-program {
  .card-body {
    padding: 20px 20px 20px 45px;
    position: relative;
    z-index: 0;
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 24px;
      left: 25px;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M1.634,0l28.732,16.419l-28.732,15.581l-0,-32Z'/%3E%3C/svg%3E");
      opacity: 0.5;
    }
    h4, .h4 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 3px 0;
      strong {
        font-weight: 700;
      }
    }
    p {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}

.program-date-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
  font-size: 1rem;
  span {
    position: relative;
    z-index: 0;
    display: block;
    padding-left: 30px;
    margin: 0 20px 0 0;
    &:before {
      content: "";
      display: block;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      background-position: center center;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;
      top: 1px;
      left: 0;
    }
    &.date {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M1.586,3.203c-0.876,0 -1.586,0.71 -1.586,1.586l0,25.625c0,0.876 0.71,1.586 1.586,1.586l28.828,-0c0.876,-0 1.586,-0.71 1.586,-1.586l-0,-25.625c-0,-0.876 -0.71,-1.586 -1.586,-1.586l-28.828,0Zm1.585,3.171l25.658,0c-0,0 -0,22.455 -0,22.455c-0,-0 -25.658,-0 -25.658,-0l0,-22.455Z'/%3E%3Cpath d='M6.406,1.586l0,6.406c0,0.875 0.711,1.586 1.586,1.586c0.875,-0 1.586,-0.711 1.586,-1.586l-0,-6.406c-0,-0.876 -0.711,-1.586 -1.586,-1.586c-0.875,-0 -1.586,0.71 -1.586,1.586Z'/%3E%3Cpath d='M22.422,1.586l0,6.406c0,0.875 0.711,1.586 1.586,1.586c0.875,-0 1.586,-0.711 1.586,-1.586l-0,-6.406c-0,-0.876 -0.711,-1.586 -1.586,-1.586c-0.875,-0 -1.586,0.71 -1.586,1.586Z'/%3E%3Cpath d='M1.586,15.984l28.828,-0c0.876,-0 1.586,-0.71 1.586,-1.586c-0,-0.875 -0.71,-1.585 -1.586,-1.585l-28.828,-0c-0.876,-0 -1.586,0.71 -1.586,1.585c-0,0.876 0.71,1.586 1.586,1.586Z'/%3E%3C/svg%3E");
      }
    }
    &.time {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M0,16c0,8.837 7.163,16 16,16c8.837,-0 16,-7.163 16,-16c-0,-8.837 -7.163,-16 -16,-16c-8.837,0 -16,7.163 -16,16Zm3.171,-0c0,-7.085 5.744,-12.829 12.829,-12.829c7.085,0 12.829,5.744 12.829,12.829c-0,7.085 -5.744,12.829 -12.829,12.829c-7.085,-0 -12.829,-5.744 -12.829,-12.829Z'/%3E%3Cpath d='M14.414,10.455l0,5.545c0,0.379 0.136,0.745 0.382,1.032l5.635,6.573c0.569,0.664 1.571,0.741 2.235,0.172c0.665,-0.57 0.742,-1.572 0.172,-2.236l-5.252,-6.128c-0,0 -0,-4.958 -0,-4.958c-0,-0.875 -0.711,-1.585 -1.586,-1.585c-0.875,-0 -1.586,0.71 -1.586,1.585Z'/%3E%3C/svg%3E");
      }
    }
  }
}