//
// Card Person
// --------------------------------------------------

.card-person {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 140px;
  .card-thumb {
    position: relative;
    z-index: 0;
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    padding: 0 0 0 180px;
    h3, .h3 {
      font-weight: 700;
      font-size: 1.187rem;
      line-height: 1.2;
      margin: 0 0 12px 0;
      display: block;
      font-weight: 700;
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: 0.875rem;
      margin-bottom: 15px;
    }
    .role {
      font-size: 0.875rem;
      font-weight: 400;
      display: block;
      padding: 0 0 0 0;
      margin: 0;
    }
    .social-links {
      display: flex;
      padding: 10px 0 7px 0;
      a {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 10px 0 0;
        svg {
          width: 24px;
          height: 24px;
          display: block;
        }
      }
    }
  }
  &.card-person-simple {
    min-height: 100px;
    .card-thumb {
      width: 100px;
      height: 100px;
    }
    .card-body {
      padding-top: 10px;
      padding-left: 130px;
    }
  }
}