//
// Card Team
// --------------------------------------------------

.card-team {
  perspective: 150rem;
  .card-thumb {
    position: relative;
    z-index: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 25px 20px;
    justify-content: center;
    align-items: center;
    background-color: $gray-200;
    @include media-breakpoint-down(xl) {
      padding: 24px 18px 24px 18px;
    }
    @include media-breakpoint-down(lg) {
      padding: 22px 15px 22px 15px;
    }
    @include media-breakpoint-down(md) {
      padding: 18px 12px 18px 12px;
    }
    @include media-breakpoint-down(sm) {
      padding: 15px 10px 15px 10px;
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.562rem;
      line-height: 1.1;
      margin: 0 0 0 0;
      display: block;
      font-weight: 700;
      text-align: center;
      @include media-breakpoint-down(xl) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.462rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.362rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.28rem;
      }
      a {
        text-decoration: none;
      }
    }
    .role {
      font-size: 0.875rem;
      font-weight: 700;
      display: block;
      padding: 7px 0 0 0;
      margin: 0;
    }
    .social-links {
      display: flex;
      justify-content: center;
      padding: 10px 0 7px 0;
      a {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 5px 0 5px;
        svg {
          width: 24px;
          height: 24px;
          display: block;
        }
      }
    }
  }
}