//
// Card Article
// --------------------------------------------------

.card-article {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .card-thumb {
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    padding: 25px 0 0 0;
    @include media-breakpoint-down(xl) {
      padding-top: 22px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 20px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 17px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 1.2;
      margin: 0 0 15px 0;
      display: block;
      font-weight: 700;
      @include media-breakpoint-down(xl) {
        font-size: 1.32rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.27rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.22rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.18rem;
      }
      a {
        text-decoration: none;
      }
    }
    .category {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.875rem;
      margin: 0 0 18px 0;
      @include media-breakpoint-down(xl) {
        font-size: 0.8rem;
        margin-bottom: 9px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 0.78rem;
        margin-bottom: 8px;
      }
      @include media-breakpoint-down(md) {
        font-size: 0.77rem;
        margin-bottom: 7px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.75rem;
        margin-bottom: 5px;
      }
    }
    p {
      margin: 0;
      font-size: 0.937rem;
    }
    .date {
      padding: 0 0 0 30px;
      position: relative;
      z-index: 0;
      display: block;
      margin: 0 0 12px 0;
      font-size: 1rem;
      font-weight: 700;
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M11.426,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.756,-1.757c-0.97,0 -1.757,0.787 -1.757,1.757l-0,6.574c-0,0.969 0.787,1.756 1.757,1.756c0.969,0 1.756,-0.787 1.756,-1.756Z'/%3E%3Cpath d='M24.087,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.757,-1.757c-0.969,0 -1.756,0.787 -1.756,1.757l-0,6.574c-0,0.969 0.787,1.756 1.756,1.756c0.97,0 1.757,-0.787 1.757,-1.756Z'/%3E%3Cpath d='M1.757,3.165c-0.971,0 -1.757,0.787 -1.757,1.757l0,25.321c0,0.971 0.786,1.757 1.757,1.757l28.486,0c0.971,0 1.757,-0.786 1.757,-1.757l0,-25.321c0,-0.97 -0.786,-1.757 -1.757,-1.757l-28.486,0Zm1.756,3.514l24.974,-0c-0,-0 -0,21.808 -0,21.808c-0,-0 -24.974,-0 -24.974,-0l0,-21.808Z'/%3E%3C/svg%3E");
      }
    }
  }
}