//
// Card Service
// --------------------------------------------------

.card-service {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .card-thumb {
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    padding: 25px 0 0 0;
    @include media-breakpoint-down(xl) {
      padding-top: 22px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 20px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 17px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 1.2;
      margin: 0 0 15px 0;
      display: block;
      font-weight: 700;
      @include media-breakpoint-down(xl) {
        font-size: 1.32rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.27rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.22rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.18rem;
      }
      a {
        text-decoration: none;
      }
    }
    p {
      margin: 0;
      font-size: 0.937rem;
    }
  }
  .card-price {
    font-size: 1.062rem;
    margin-top: 20px;
    span {
      font-weight: 700;
      &.price-full {
        font-weight: 400;
        text-decoration: line-through;
        margin: 0 0 0 10px;
      }
    }
  }
}