//
// Card Product
// --------------------------------------------------

.card-product {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .card-thumb {
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-body {
    padding: 25px 0 0 0;
    text-align: center;
    @include media-breakpoint-down(xl) {
      padding-top: 22px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 20px;
    }
    @include media-breakpoint-down(md) {
      padding-top: 17px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
    }
    h3, .h3 {
      font-weight: 700;
      font-size: 1.562rem;
      line-height: 1.1;
      margin: 0 0 0 0;
      display: block;
      font-weight: 700;
      .list-products & {
        font-size: 1.375rem;
      }
      @include media-breakpoint-down(xl) {
        font-size: 1.5rem;
        .list-products & {
          font-size: 1.32rem;
        }
      }
      @include media-breakpoint-down(lg) {
        font-size: 1.462rem;
        .list-products & {
          font-size: 1.27rem;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 1.362rem;
        .list-products & {
          font-size: 1.22rem;
        }
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.28rem;
        .list-products & {
          font-size: 1.18rem;
        }
      }
      a {
        text-decoration: none;
      }
    }
    .category {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.875rem;
      display: block;
      margin: 0 0 10px 0;
      @include media-breakpoint-down(xl) {
        font-size: 0.8rem;
        margin-bottom: 9px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 0.78rem;
        margin-bottom: 8px;
      }
      @include media-breakpoint-down(md) {
        font-size: 0.77rem;
        margin-bottom: 7px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.75rem;
        margin-bottom: 5px;
      }
    }
  }
}