//
// Caleran
// --------------------------------------------------

.datepicker-wrapper {
  position: relative;
  z-index: 0;
  .caleran-container {
    position: relative;
    z-index: 0;
    width: 100%;
    float: none;
    .caleran-input {
      width: 100% !important;
      margin: 0;
      border: 1px solid $gray-400;
      border-radius: 0px;
      position: relative;
      z-index: 0;
      .caleran-calendars {
        position: relative;
        z-index: 0;
        width: 100%;
        .caleran-calendar {
          .caleran-days-container {
            float: none;
            overflow: hidden;
            .caleran-day {
              font-size: 0.875rem;
              background-color: transparent !important;
              span {
                padding-top: 8px;
                padding-bottom: 8px;
                border: 0px;
                border-radius: 10px;
                &:hover {
                  background-color: $gray-500 !important;
                }
              }
              &.caleran-today.caleran-selected {
                span {
                  color: $white !important;
                }
              }
            }
          }
          .caleran-title {
            font-size: 0.875rem;
            margin-top: 5px;
            border: 0px;
            font-weight: 700;
            .caleran-prev, .caleran-next {
              margin-top: -4px;
              i {
                display: block;
                width: 30px;
                height: 30px;
                background-color: transparent;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: center center;
              }
            }
            .caleran-prev {
              margin-left: 10px;
              i {
                background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M5.575,14.382l24.807,0c0.893,0 1.618,0.725 1.618,1.618c-0,0.893 -0.725,1.618 -1.618,1.618l-24.807,-0c2.017,1.98 5.167,5.072 5.167,5.072c0.637,0.626 0.646,1.651 0.021,2.288c-0.626,0.637 -1.651,0.647 -2.289,0.021l-7.99,-7.844c-0.101,-0.1 -0.188,-0.212 -0.26,-0.333c-0.141,-0.238 -0.222,-0.516 -0.224,-0.812l0,-0.02c0.002,-0.296 0.083,-0.574 0.224,-0.812c0.072,-0.121 0.159,-0.233 0.26,-0.333l7.99,-7.844c0.638,-0.626 1.663,-0.616 2.289,0.021c0.625,0.637 0.616,1.662 -0.021,2.288l-5.167,5.072Z'/%3E%3C/svg%3E");
              }
            }
            .caleran-next {
              margin-right: 10px;
              i {
                background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M26.425,14.382l-24.807,0c-0.893,0 -1.618,0.725 -1.618,1.618c0,0.893 0.725,1.618 1.618,1.618l24.807,-0c-2.017,1.98 -5.167,5.072 -5.167,5.072c-0.637,0.626 -0.646,1.651 -0.021,2.288c0.626,0.637 1.651,0.647 2.289,0.021l7.99,-7.844c0.101,-0.1 0.188,-0.212 0.26,-0.333c0.141,-0.238 0.222,-0.516 0.224,-0.812l-0,-0.02c-0.002,-0.296 -0.083,-0.574 -0.224,-0.812c-0.072,-0.121 -0.159,-0.233 -0.26,-0.333l-7.99,-7.844c-0.638,-0.626 -1.663,-0.616 -2.289,0.021c-0.625,0.637 -0.616,1.662 0.021,2.288l5.167,5.072Z'/%3E%3C/svg%3E");
              }
            }
          }
          .caleran-dayofweek {
            color: $purple;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}