//
// Carousel
// --------------------------------------------------

.owl-carousel {
  .owl-item img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.owl-theme {
	.owl-nav {
    margin: 0;
    display: flex;
    [class*='owl-'] {
      width: 20px;
      height: 20px;
      background-color: transparent;
      margin: 0;
      padding: 0;
      display: inline-block;
      top: 0;
      font-size: 1rem;
      margin: 0 7px 0 7px;
      &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        outline: none;
        background-color: transparent;
      }
      svg {
        width: 20px;
        height: 20px;
        display: block;
        .bg-dark & {
          fill: $white;
        }
      }
      &:hover {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        outline: none;
        background-color: transparent;
        svg {
          
        }
      }
      &.disabled {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        outline: none;
        background-color: transparent;
        &:hover {
          svg {
            
          }
        }
      }
    }
  }

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		
	}
	.owl-dots {
		text-align: center;
		margin-top: 0;
    position: relative;
    z-index: 0;
    bottom: 0px;
    width: 100%;
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			span {
				width: 14px;
				height: 14px;
				margin: 0 4px 0 4px;
				background: transparent;
				border: 2px solid $primary;
				display: block;
				-webkit-backface-visibility: visible;
				@include border-top-radius(50%);
			  @include border-bottom-radius(50%);
        .bg-dark & {
          border-color: $white;
        }
			}
			&.active,
			&:hover {
				span {
          position: relative;
          z-index: 0;
          background: transparent;
					&:before {
            content: "";
            border-radius: 50%;
            display: block;
            position: absolute;
            z-index: 1;
            top: -2px;
            left: -2px;
            background-color: $primary;
            width: 14px;
            height: 14px;
            .bg-dark & {
              background-color: $white;
            }
          }
				}
			}
      &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        outline: none;
      }
		}
	}
}

.owl-carousel.owl-theme.carousel-four-items, .owl-carousel.owl-theme.carousel-three-items {
  .owl-nav {
    [class*='owl-'] {
      width: 44px;
      height: 44px;
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -22px;
      background-color: $white;
      border: 2.22px solid $dark;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 0;
        display: block;
      }
      &:hover {
        svg {
          
        }
      }
      &.disabled {
        &:hover {
          svg {
            
          }
        }
      }
    }
    .owl-prev {
      left: -22px;
      svg {
        margin-left: -3px;
      }
    }
    .owl-next {
      right: -22px;
      svg {
        margin-right: -3px;
      }
    }
  }
  .card-author {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.owl-carousel.owl-theme.carousel-single-nav-dots {
  .owl-nav {
    position: absolute;
    z-index: 1;
    bottom: 60px;
    left: calc(50% - 140px);
    .featured-wrapper & {
      left: calc(50% - 120px);
    }
    @include media-breakpoint-down(xl) {
      bottom: 50px;
      left: calc(50% - 100px);
      .featured-wrapper & {
        left: calc(50% - 120px);
      }
    }
    @include media-breakpoint-down(lg) {
      bottom: 40px;
      left: calc(50% - 80px);
      .featured-wrapper & {
        left: calc(50% - 120px);
      }
    }
    @include media-breakpoint-down(md) {
      bottom: 40px;
      left: 10px;
      .featured-wrapper & {
        left: 10px;
      }
    }
  }
  .owl-dots {
    position: absolute;
    z-index: 1;
    bottom: 58px;
    left: 116px;
    text-align: left;
    width: 200px;
    .featured-wrapper & {
      left: 50px;
    }
    @include media-breakpoint-down(xl) {
      bottom: 47px;
      left: 60px;
      .featured-wrapper & {
        left: 40px;
      }
    }
    @include media-breakpoint-down(lg) {
      bottom: 37px;
      left: 40px;
      .featured-wrapper & {
        left: 40px;
      }
    }
    @include media-breakpoint-down(md) {
      bottom: 37px;
      left: 85px;
      .featured-wrapper & {
        left: 85px;
      }
    }
  }
  .card {
    .card-body {
      padding-bottom: 132px;
      @include media-breakpoint-down(xl) {
        padding-bottom: 122px;
      }
      @include media-breakpoint-down(lg) {
        padding-bottom: 100px;
      }
    }
  }
}

.owl-carousel.owl-theme.carousel-single-nav, .owl-carousel.owl-theme.carousel-double-nav {
  margin: 0 0 50px 0;
  .owl-nav {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
  }
}

.owl-carousel.owl-theme.carousel-single-photo {
  padding-bottom: 30px;
  .owl-nav {
    position: initial;
    z-index: initial;
    bottom: auto;
    height: auto;
    margin: 0;
    display: inherit;
    justify-content: inherit;
    left: auto;
    width: auto;
    [class*='owl-'] {
      width: 80px;
      height: 80px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -50px;
      @include media-breakpoint-down(sm) {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
      }
      &:focus {
        outline-style: none;
        box-shadow: none;
        border-color: transparent;
        outline: none;
      }
      svg {
        width: 24px;
        height: 24px;
        display: block;
        fill: $gray-800;
        @include media-breakpoint-down(sm) {
          width: 14px;
          height: 14px;
        }
      }
      &:hover {
        background-color: $gray-800;
        svg {
          fill: $white;
        }
      }
      &.owl-prev {
        left: -45px;
        @include media-breakpoint-down(sm) {
          left: -12px;
        }
      }
      &.owl-next {
        right: -45px;
        @include media-breakpoint-down(sm) {
          right: -12px;
        }
      }
    }
  }
  .owl-item {
    p {
      margin: 0;
      text-align: center;
      display: block;
      padding: 10px 0 0 0;
      color: $gray-900;
      font-size: 1rem;
    }
  }
}

.carousel-author {
  margin-top: -32px;
}