//
// JPUSH MENU
// --------------------------------------------------

.cbp-spmenu {
  -webkit-transition: all 0.20s ease-out;
  -moz-transition: all 0.20s ease-out;
  -ms-transition: all 0.20s ease-out;
  -o-transition: all 0.20s ease-out;
  transition: all 0.20s ease-out;
  background: #ffffff;
  height: calc(100% - 108px);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 108px;
  width: 300px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(xl) {
    width: 450px;
  }
}

.cbp-spmenu-left {
  left: -300px;
  @include media-breakpoint-up(xl) {
    left: -450px;
  }
  &.menu-open {
    left: 0;
  }
}

.cbp-spmenu-right {
  right: -300px;
  @include media-breakpoint-up(xl) {
    right: -450px;
  }
  &.menu-open {
    right: 0;
  }
}

.push-body-toright, .push-body-toleft {
  overflow: hidden;
}

.push-body-toright:after, .push-body-toleft:after {
  background: #000000;
  content: " ";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9998;
  cursor: pointer;
}
