//
// jsSocials
// --------------------------------------------------

.jssocials-shares {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(xl) {
    flex-direction: row;
    align-items: inherit;
  }
  .jssocials-share {
    margin: 0 0 0 0;
    overflow: hidden;
    width: 100%;
    margin: 0 0 0 0;
    @include media-breakpoint-down(xl) {
      margin: 0 0 0 0;
    }
    .jssocials-share-link {
      margin: 0 0 0 0;
      padding: 14px 0 14px 0;
      border: none;
      overflow: hidden;
      border-radius: 0px;
      display: flex;
      justify-content: center;
      i {
        width: 22px;
        height: 22px;
        display: block;
        &.fa-facebook {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Path' d='M24,5.333l-5.333,0c-0.982,0 -1.778,0.796 -1.778,1.778l-0,5.333l7.111,0c0.202,-0.004 0.394,0.09 0.514,0.253c0.12,0.162 0.154,0.373 0.09,0.565l-1.315,3.911c-0.121,0.359 -0.457,0.602 -0.836,0.605l-5.564,-0l-0,13.333c-0,0.491 -0.398,0.889 -0.889,0.889l-4.444,-0c-0.491,-0 -0.889,-0.398 -0.889,-0.889l-0,-13.333l-2.667,-0c-0.491,-0 -0.889,-0.398 -0.889,-0.889l0,-3.556c0,-0.491 0.398,-0.889 0.889,-0.889l2.667,0l-0,-5.333c-0,-3.927 3.183,-7.111 7.111,-7.111l6.222,-0c0.491,-0 0.889,0.398 0.889,0.889l-0,3.555c-0,0.491 -0.398,0.889 -0.889,0.889Z' style='fill:%2317171b;fill-rule:nonzero;'/%3E%3C/svg%3E");
          background-size: 22px 22px;
        }
        &.fa-linkedin {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Shape' d='M7.314,12.343l0,18.285c0,0.505 -0.409,0.914 -0.914,0.914l-4.571,0c-0.505,0 -0.915,-0.409 -0.915,-0.914l0,-18.285c0,-0.505 0.41,-0.914 0.915,-0.914l4.571,-0c0.505,-0 0.914,0.409 0.914,0.914Zm24.685,7.149c0.063,-3.958 -2.638,-7.428 -6.491,-8.338c-2.583,-0.556 -5.274,0.174 -7.223,1.957l0,-0.768c0,-0.505 -0.409,-0.914 -0.914,-0.914l-4.571,-0c-0.505,-0 -0.915,0.409 -0.915,0.914l0,18.285c0,0.505 0.41,0.914 0.915,0.914l4.571,0c0.505,0 0.914,-0.409 0.914,-0.914l0,-10.313c-0.045,-1.836 1.235,-3.44 3.035,-3.803c1.073,-0.185 2.171,0.117 2.999,0.824c0.827,0.707 1.296,1.745 1.28,2.833l0,10.459c0,0.505 0.409,0.914 0.914,0.914l4.572,0c0.505,0 0.914,-0.409 0.914,-0.914l-0,-11.136Zm-28.342,-19.034c-2.02,-0 -3.657,1.637 -3.657,3.657c-0,2.019 1.637,3.657 3.657,3.657c2.02,-0 3.657,-1.638 3.657,-3.657c0,-0.97 -0.385,-1.9 -1.071,-2.586c-0.686,-0.686 -1.616,-1.071 -2.586,-1.071Z' style='fill:%2317171b;fill-rule:nonzero;'/%3E%3C/svg%3E");
          background-size: 22px 22px;
        }
        &.fa-twitter {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Path' d='M31.953,6.347c-0.825,1.1 -1.824,2.061 -2.955,2.843l-0,0.879c0.009,5.222 -2.078,10.23 -5.793,13.9c-3.715,3.67 -8.748,5.695 -13.97,5.623c-3.018,0.01 -5.999,-0.679 -8.707,-2.013c-0.146,-0.064 -0.24,-0.208 -0.239,-0.368l-0,-0.175c-0,-0.23 0.186,-0.416 0.415,-0.416c2.968,-0.098 5.829,-1.126 8.18,-2.939c-2.686,-0.055 -5.103,-1.645 -6.215,-4.09c-0.056,-0.134 -0.038,-0.287 0.046,-0.405c0.085,-0.117 0.225,-0.182 0.37,-0.17c0.816,0.082 1.64,0.006 2.428,-0.224c-2.965,-0.615 -5.193,-3.076 -5.512,-6.087c-0.011,-0.144 0.054,-0.284 0.171,-0.369c0.118,-0.085 0.271,-0.102 0.404,-0.046c0.796,0.351 1.655,0.535 2.525,0.543c-2.598,-1.705 -3.721,-4.946 -2.732,-7.892c0.102,-0.287 0.347,-0.498 0.645,-0.557c0.298,-0.059 0.605,0.043 0.809,0.269c3.505,3.73 8.323,5.952 13.435,6.199c-0.131,-0.522 -0.195,-1.059 -0.191,-1.598c0.047,-2.823 1.795,-5.339 4.425,-6.368c2.63,-1.029 5.621,-0.369 7.573,1.671c1.33,-0.253 2.617,-0.7 3.818,-1.326c0.088,-0.055 0.199,-0.055 0.287,0c0.055,0.088 0.055,0.2 0,0.288c-0.581,1.332 -1.564,2.449 -2.811,3.195c1.092,-0.126 2.164,-0.384 3.195,-0.767c0.087,-0.059 0.201,-0.059 0.287,0c0.073,0.033 0.127,0.097 0.149,0.174c0.021,0.077 0.008,0.159 -0.037,0.226Z' style='fill:%2317171b;fill-rule:nonzero;'/%3E%3C/svg%3E");
          background-size: 22px 22px;
        }
        &.fa-whatsapp {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Shape' d='M15.999,0c-6.011,0.002 -11.514,3.372 -14.248,8.725c-2.734,5.353 -2.238,11.786 1.285,16.657l-1.441,4.385c-0.099,0.286 -0.024,0.604 0.193,0.816c0.152,0.154 0.359,0.24 0.576,0.24l0.24,0l4.561,-1.472c5.71,3.778 13.191,3.505 18.61,-0.679c5.42,-4.185 7.577,-11.353 5.368,-17.833c-2.21,-6.48 -8.297,-10.837 -15.144,-10.839Zm12.803,16.004c0,7.071 -5.732,12.803 -12.803,12.803c-7.071,-0 -12.803,-5.732 -12.803,-12.803c-0,-7.071 5.732,-12.803 12.803,-12.803c3.396,-0 6.652,1.349 9.053,3.75c2.401,2.401 3.75,5.657 3.75,9.053Zm-4.913,5.585c-0.542,1.006 -1.515,1.708 -2.641,1.905c-0.704,0.16 -1.6,0.272 -4.801,-1.009c-2.743,-1.332 -5.068,-3.391 -6.722,-5.953c-0.918,-1.17 -1.474,-2.583 -1.6,-4.065c-0.005,-1.259 0.531,-2.46 1.472,-3.297c0.387,-0.33 0.885,-0.501 1.393,-0.48l0.448,0c0.4,0 0.592,0 0.864,0.672c0.272,0.672 1.104,2.721 1.2,2.913c0.129,0.229 0.129,0.508 0,0.736c-0.114,0.227 -0.259,0.437 -0.432,0.624c-0.192,0.224 -0.4,0.4 -0.592,0.64c-0.265,0.199 -0.334,0.567 -0.16,0.849c0.595,1.008 1.334,1.925 2.193,2.72c0.934,0.85 2.02,1.518 3.2,1.969c0.323,0.144 0.702,0.081 0.961,-0.16c0.379,-0.445 0.727,-0.915 1.04,-1.409c0.211,-0.323 0.629,-0.439 0.976,-0.272c0.368,0.112 2.305,1.073 2.689,1.265c0.384,0.192 0.672,0.304 0.768,0.464c0.108,0.641 0.019,1.299 -0.256,1.888Z' style='fill:%2317171b;fill-rule:nonzero;'/%3E%3C/svg%3E");
          background-size: 22px 22px;
        }
        &.fa-at {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Shape' d='M28.571,0l-25.142,0c-1.894,0 -3.429,1.535 -3.429,3.429l-0,25.142c-0,1.894 1.535,3.429 3.429,3.429l25.142,0c1.894,0 3.429,-1.535 3.429,-3.429l0,-25.142c0,-1.894 -1.535,-3.429 -3.429,-3.429Zm-15.848,16.436c-6.478,-4.701 -6.412,-4.713 -8.152,-6.067l0,-1.798c0,-0.946 0.768,-1.714 1.715,-1.714l19.428,0c0.947,0 1.715,0.768 1.715,1.714l-0,1.798c-1.741,1.355 -1.674,1.366 -8.152,6.067c-0.75,0.547 -2.242,1.866 -3.277,1.85c-1.036,0.015 -2.526,-1.302 -3.277,-1.85Zm14.706,-3.166l-0,10.159c-0,0.946 -0.768,1.714 -1.715,1.714l-19.428,-0c-0.947,-0 -1.715,-0.768 -1.715,-1.714l0,-10.159c0.997,0.771 2.381,1.802 6.808,5.015c1.011,0.739 2.712,2.296 4.621,2.286c1.92,0.01 3.645,-1.574 4.623,-2.287c4.425,-3.212 5.809,-4.243 6.806,-5.014Z' style='fill-rule:nonzero; fill: %23c2c2c2;'/%3E%3C/svg%3E");
          background-size: 22px 22px;
        }
      }
    }
  }
  .jssocials-share-label {
    display: none;
  }
}
