//
// Plus Minus
// --------------------------------------------------

.plus-minus-group {
  display: block;
  position: relative;
  z-index: 0;
  input {
    position: relative;
    z-index: 0;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .button-minus, .button-plus {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    background-position: center center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 50px;
    height: 100%;
    cursor: pointer;
  }
  .button-minus {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M2.909,18.944l26.182,0c1.605,0 2.909,-1.303 2.909,-2.909c-0,-1.606 -1.304,-2.909 -2.909,-2.909l-26.182,-0c-1.605,-0 -2.909,1.303 -2.909,2.909c-0,1.606 1.304,2.909 2.909,2.909Z'/%3E%3C/svg%3E");
    left: 0;
  }
  .button-plus {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M13.091,13.091l-10.182,-0c-1.605,-0 -2.909,1.303 -2.909,2.909c-0,1.606 1.304,2.909 2.909,2.909l10.182,0l-0,10.182c-0,1.605 1.303,2.909 2.909,2.909c1.606,0 2.909,-1.304 2.909,-2.909l0,-10.182l10.182,0c1.605,0 2.909,-1.303 2.909,-2.909c-0,-1.606 -1.304,-2.909 -2.909,-2.909l-10.182,-0l0,-10.182c0,-1.605 -1.303,-2.909 -2.909,-2.909c-1.606,0 -2.909,1.304 -2.909,2.909l-0,10.182Z'/%3E%3C/svg%3E");
    right: 0;
  }
}