//
// Search
// --------------------------------------------------

/* Buttons */

.btn--hidden {
  pointer-events: none;
  opacity: 0;
}


/* Reset Search Input */

.search__input {
  border: 0;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
}

.search__input:focus {
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}



/* Layout for search container */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.search::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
}

.btn--search-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 32px;
  height: 32px;
  svg {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}

.search__form {
  margin: 5em 0;
  width: 1000px;
  @include media-breakpoint-down(lg) {
    width: 800px;
  }
  @include media-breakpoint-down(md) {
    width: 700px;
  }
  @include media-breakpoint-down(sm) {
    width: 500px;
  }
}

.search__input {
  font-family: inherit;
  font-size: 2.5vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.05em 0;
  color: $white;
  border-bottom: 5px solid $white;
}

.search__input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $white;
}

.search__input::-moz-placeholder {
  opacity: 1;
  /* Mozilla Firefox 19+ */
  color: $white;
}

.search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $white;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search__input::-ms-clear {
  display: none;
}

.search__info {
  font-size: 100%;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
  color: $white;
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

/************************/
/* Transitions 			*/
/************************/

.main-wrap--move {
  transform: scale3d(0.7,0.7,1);
}

.main-wrap--move .btn--search {
  pointer-events: none;
  opacity: 0;
}

.search {
  pointer-events: none;
}

.search--open {
  pointer-events: auto;
}

.search::before {
  opacity: 0;
  transition: opacity 0.5s;
}

.search--open::before {
  opacity: 1;
}

/* Close button */
.btn--search-close {
  opacity: 0;
  transition: opacity 0.5s;
}

.search--open .btn--search-close {
  opacity: 1;
}

/* Search form with input and description */

.search__info {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: opacity 0.4s, transform 0.4s;
}

.search--open .search__info {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.search__input {
  transform: scale3d(0,1,1);
  transform-origin: 0% 50%;
  transition: transform 0.3s;
}

.search--open .search__input {
  transform: scale3d(1,1,1);
  transition-duration: 0.5s;
}

@media screen and (max-width: 40em) {
  .btn--search-close {
    font-size: 1.25em;
  }
  .search__suggestion {
    font-size: 80%;
    width: 100%;
  }
  .search__suggestion:nth-child(2),
  .search__suggestion:nth-child(3) {
    display: none;
  }
}
