//
// WooCommerce
// --------------------------------------------------

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 100px;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
  @extend .form-control;
  display: inline-block;
  max-width: 200px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @extend .btn;
  border: 2px solid $dark;
  &:hover {
    background-color: $dark;
    color: $white;
  }
}

.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button, .woocommerce-page .woocommerce-error .button, .woocommerce-page .woocommerce-info .button, .woocommerce-page .woocommerce-message .button {
  @extend .btn;
  border: 2px solid $dark;
  color: $dark;
  &:hover {
    background-color: $dark;
    color: $white;
  }
}

.woocommerce-info {
  border-color: $purple !important;
}

.woocommerce-info::before {
  color: $purple !important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  background-color: transparent;
  color: $dark;
}

.woocommerce-MyAccount-navigation{
    border: solid 2px #cccccc !important;
    margin-bottom: 20px !important;
}

.woocommerce-MyAccount-navigation ul{
    padding: 40px 0px 0px 40px !important;
}

.woocommerce-MyAccount-navigation ul li:before{
    display: none !important;
}

.woocommerce-MyAccount-navigation a {
    text-decoration: none !important;
    font-size: 20px !important;
}

.woocommerce-MyAccount-content{
    padding-left: 20px !important;
}

.woocommerce-MyAccount-content a {
    color: $purple !important;
    font-weight: 700 !important;
}

/**  gift-card  **/
.purchase-configurator-top .configurator-row {
    width: 100%;
}

.purchase-configurator-top .select-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cfcfcf;
    appearance: none;
    border-radius: 0;
    transition: background-color  .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: calc(1.5em + 2.188rem + 2px);
    padding: 1.094rem 2rem;
    font-size: 1.125rem;
    margin: 8px;
    cursor: pointer;
}

.purchase-configurator-top .select-button:hover {
    background-color: #cfcfcf;
}

.purchase-configurator-top .select-button.active {
    background-color: #cfcfcf;
}

.simplefavorite-button.active{
    filter: invert(46%) sepia(11%) saturate(2584%) hue-rotate(260deg) brightness(89%) contrast(92%);
}

.woocommerce-MyAccount-content h3 a, .woocommerce-MyAccount-content .category a {
    color: #000;
}

.favourite svg{
    height:20px;
    width:20px;
}

.favourite{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right:20px;
}


.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea, 
.woocommerce-MyAccount-Giftcards-form input {
  @extend .form-control;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
  top: 9px;
}

.woocommerce-EditAccountForm {
  .woocommerce-Button {
    margin: 30px 0 20px 0 !important;
  }
}

.woocommerce-MyAccount-content {
  .woocommerce-form-row {
    label {
      font-weight: 700;
      font-size: 1rem;
    }
    em {
      font-size: 0.92rem;
    }
  }
  fieldset {
    legend {
      display: block;
      margin: 40px 0 30px 0;
      border-bottom: 1px solid #cccccc;
      padding: 0 0 5px 0;
    }
  }
}

.woocommerce-MyAccount-navigation-link {
  &.is-active {
    font-weight: 700;
  }
}

.woocommerce-Addresses {
  .woocommerce-Address {
    background-color: $gray-100;
    padding: 40px;
    .woocommerce-Address-title {
      display: block;
      margin: 0 0 20px 0;
      h3, .h3 {
        margin: 0 0 0 0;
        display: block;
        float: none;
        line-height: 1.2;
      }
       a {
         font-size: 0.97rem;
       }
    }
  }
}

.woocommerce-account .addresses .title .edit {
  float: none;
}

.woocommerce-Giftcards {
  margin: 0 0 50px 0;
  .woocommerce-Button {
    min-width: 300px;
  }
}

.woocommerce-MyAccount-content {
  h2, .h2 {
    margin: 0 0 20px 0;
  }
}

.woocommerce-MyAccount-Giftcards-balance-amount {
  border: 1px solid $gray-500;
  padding: 20px 40px 20px 40px;
  background-color: $gray-100;
}

.woocommerce-giftcards-table {
  margin: 0 0 40px 0 !important;
}

.woocommerce-orders-table__cell {
  .woocommerce-button {
    @extend .btn;
    border: 2px solid $dark;
    color: $dark !important;
    &:hover {
      background-color: $dark;
      color: $white !important;
    }
  }
}

.woocommerce-billing-fields__field-wrapper {
  .form-row {
    label {
      font-weight: 700;
      font-size: 1rem;
      margin-top: 10px;
    }
  }
}

.woocommerce form .form-row.notes {
  label {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
  }
}

.select2-container--default .select2-selection--single {
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  font-size: 1rem;
  padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0px;
}

#order_review_heading {
  margin: 40px 0 20px 0 !important;
}

.woocommerce-checkout-review-order {
  table.shop_table {
    font-size: 1rem;
  }
}

.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
  min-height: 200px;
}

#wc_gc_cart_redeem_form {
  display: flex;
}

#wc_gc_cart_code {
  @extend .form-control;
  height: 70px;
}

#wc_gc_cart_redeem_send {
  @extend .btn;
  border: 2px solid $dark;
  color: $dark !important;
  height: 70px;
  max-width: 150px;
  &:hover {
    background-color: $dark;
    color: $white !important;
  }
}

.woocommerce-checkout-payment {
  margin-bottom: 50px;
  .wc_payment_methods {
    @include list-unstyled();
    li {
      &:before {
        content: none;
        position: relative;
        z-index: 0;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 0px;
        display: none;
      }
    }
  }
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  @extend .btn;
  border: 2px solid $purple !important;
  color: $white !important;
  background-color: $purple !important;
  border-color: $purple !important;
  height: 70px;
  font-size: 1.25rem;
  padding-left: 50px;
  padding-right: 50px;
  &:hover {
    background-color: $dark !important;
    color: $white !important;
    border-color: $dark !important;
  }
}

.ld-login-modal-form {
  text-align: left;
  #wp-submit {
    border-radius: 0px;
  }
  .login-submit {
    text-align: left;
  }
}

.learndash-wrapper .ld-login-modal .ld-button, .learndash-wrapper .ld-login-modal input[type=submit] {
  border-radius: 0px;
}

.learndash-wrapper .ld-expand-button, .learndash-wrapper .ld-status {
  border-radius: 0px !important;
}

.learndash-wrapper .ld-expand-button.ld-compact .ld-icon {
  position: relative;
  z-index: 0;
  top: 1px;
}

.learndash-wrapper .ld-expand-button.ld-expanded .ld-icon {
  top: -1px;
}

.learndash-wrapper .ld-table-list .ld-table-list-item .ld-table-list-title a {
  font-size: 1rem;
}

.learndash-wrapper .ld-table-list .ld-table-list-item-preview .ld-table-list-columns .ld-table-list-column.ld-table-list-column-date {
  font-size: 0.95rem;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-expanded .ld-item-contents {
  padding: 1em 2.125em;
}

.learndash-wrapper .ld-login-modal {
  position: fixed !important;
  margin: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learndash-wrapper .ld-login-modal .ld-login-modal-form .ld-login-modal-branding img {
  max-height: 120px;
  display: block;
  margin: 0 auto 0 auto;
}

.learndash-wrapper .ld-login-modal .ld-login-modal-login .ld-modal-text {
  display: none;
}

.learndash-wrapper .ld-login-modal .ld-login-modal-form .ld-login-modal-branding {
  display: none;
}

.learndash-wrapper .ld-button:hover:not(.learndash-link-previous-incomplete):not(.ld-button-transparent), #learndash-tooltips .ld-tooltip:after, #learndash-tooltips .ld-tooltip, .learndash-wrapper .ld-primary-background, .learndash-wrapper .btn-join, .learndash-wrapper #btn-join, .learndash-wrapper .ld-button:not(.ld-button-reverse):not(.learndash-link-previous-incomplete):not(.ld-button-transparent), .learndash-wrapper .ld-expand-button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button:not(.wpProQuiz_button_reShowQuestion):not(.wpProQuiz_button_restartQuiz), .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation-heading, .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-trigger, .learndash-wrapper .ld-focus-comments .form-submit #submit, .learndash-wrapper .ld-login-modal input[type='submit'], .learndash-wrapper .ld-login-modal .ld-login-modal-register, .learndash-wrapper .wpProQuiz_content .wpProQuiz_certificate a.btn-blue, .learndash-wrapper .ld-focus .ld-focus-header .ld-user-menu .ld-user-menu-items a, #wpProQuiz_user_content table.wp-list-table thead th, #wpProQuiz_overlay_close, .learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
  border-radius: 0px !important;
}

.learndash-wrapper .ld-button {
  border-radius: 0px !important;
}



.learndash-wrapper #quiz_continue_link, .learndash-wrapper .ld-secondary-background, .learndash-wrapper .learndash_mark_complete_button, .learndash-wrapper #learndash_mark_complete_button, .learndash-wrapper .ld-status-complete, .learndash-wrapper .ld-alert-success .ld-button, .learndash-wrapper .ld-alert-success .ld-alert-icon {
  border-radius: 0px !important;
}

.learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back {
  margin-top: 20px !important;
}

.learndash-wrapper {
  .ld-content-actions {
    .ld-content-action  {
      .ld-button  {
        padding: 10px !important;
        font-size: 0.875rem !important;
      }
      .sfwd-mark-complete {
        .learndash_mark_complete_button {
          padding: 10px 50px 10px 10px !important;
          font-size: 0.875rem !important;
        }
      }
    }
  }
}

.learndash-wrapper .ld-content-actions .ld-content-action {
  flex-basis: 240px !important;
}

.learndash-wrapper #learndash-registration-wrapper #learndash_registerform input {
  @extend .form-control;
}

.learndash-wrapper #learndash-registration-wrapper #learndash_registerform label {
  font-weight: 700;
  font-size: 1rem;
}

.learndash-registration-field {
  margin-bottom: 0px !important;
}

.learndash-wrapper #learndash-registration-wrapper #learndash_registerform #wp-submit {
  @extend .btn;
  border: 2px solid $purple !important;
  color: $white !important;
  background-color: $purple !important;
  border-color: $purple !important;
  height: 70px;
  font-size: 1.25rem;
  padding-left: 50px;
  padding-right: 50px;
  &:hover {
    background-color: $dark !important;
    color: $white !important;
    border-color: $dark !important;
  }
}

.learndash-wrapper {
  #learndash-registration-wrapper {
    .registration-login-link {
      a {
        color: $purple;
        text-decoration: underline;
      }
    }
  }
}