//
// Header
// --------------------------------------------------

#main-header {
  width: 100%;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  .scrolled-header & {
    background-color: $white;
    box-shadow: 0 0.14rem 0.63rem rgba($black, .2);
  }
  @include media-breakpoint-down(xl) {
    background-color: $white;
    box-shadow: 0 0.14rem 0.63rem rgba($black, .2);
    .scrolled-header & {
      
    }
  }
}

.header-content {
  display: flex;
  align-items: center;
  @include clearfix;
  padding: 0;
  transition: all 0.2s ease;
  max-width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  margin: 0;
  @include media-breakpoint-down(xl) {
    
  }
  .scrolled-header & {
    @include media-breakpoint-down(xl) {
      
    }
  }
  .logo-wrapper {
    margin: 37px 0 37px 0;
    width: 392px;
    height: 74px;
    position: relative;
    z-index: 0;
    display: block;
    left: 50%;
    transform: translate(-50%);
    @include media-breakpoint-down(xl) {
      margin: 14px 0 14px 20px;
      width: 222px;
      height: 42px;
      left: 0;
      transform: translate(0);
    }
    .scrolled-header & {
      margin: 14px 0 14px 20px;
      width: 222px;
      height: 42px;
      left: 0;
      transform: translate(0);
      @include media-breakpoint-down(xl) {
        margin: 14px 0 14px 20px;
      }
    }
    svg {
      width: 392px;
      height: 74px;
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      @include media-breakpoint-down(xl) {
        width: 222px;
        height: 42px;
      }
      .scrolled-header & {
        width: 222px;
        height: 42px;
        @include media-breakpoint-down(xl) {
          width: 222px;
          height: 42px;
        }
      }
    }
  }
  
  .header-utilities {
    margin-left: auto;
    position: absolute;
    z-index: 1;
    top: 47px;
    right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: all 0.3s ease;
    .scrolled-header & {
      top: 15.5px;
    }
    @include media-breakpoint-down(xl) {
      top: 15.5px;
    }
    @include media-breakpoint-down(sm) {
      top: 23px;
      right: 20px;
    }
  }
  .main-nav {
    width: 100%;
    background-color: $purple;
    margin-top: auto;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    .scrolled-header & {
      width: auto;
      background-color: transparent;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1.25rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .scrolled-header & {
        font-size: 0.937rem;
      }
      li {
        margin: 0 12px 0 12px;
        a {
          color: $white;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
          white-space: nowrap;
          .scrolled-header & {
            color: $dark;
          }
        }
      }
    }
  }
}

.top-header-content {
  background-color: $aquamarine;
  display: flex;
  align-items: center;
  @include clearfix;
  max-width: 100%;
  margin: 0;
  padding: 0 25px 0 25px;
  @include media-breakpoint-down(xl) {
    padding: 0 25px 0 25px;
  }
  @include media-breakpoint-down(lg) {
    padding: 0 25px 0 25px;
  }
  @include media-breakpoint-down(md) {
    padding: 0 20px 0 20px;
  }
  svg {
    width: 22px;
    height: 22px;
    display: block;
  }
  .top-header-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin: 0 5px 0 0;
      font-size: 0.875rem;
      font-weight: 700;
      opacity: 0.7;
    }
    a {
      display: block;
      width: 22px;
      height: 22px;
      margin: 0 5px 0 5px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .top-header-utilities {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    height: 38px;
    a {
      display: block;
      width: 22px;
      height: 22px;
      margin: 0 5px 0 5px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.btn--search {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 0 0 0 25px;
  display: block;
}

.header-search {
  svg {
    width: 22px;
    height: 22px;
    display: block;
  }
}

.header-cta {
  .btn {
    transition: all 0.3s ease;
    .scrolled-header & {
      padding-top: 0.344rem;
      padding-bottom: 0.344rem;
    }
    @include media-breakpoint-down(xl) {
      padding-top: 0.344rem;
      padding-bottom: 0.344rem;
    }
  }
}

.top-header-cart {
  position: relative;
  z-index: 0;
  span {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    content: "";
    width: auto;
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: $red;
    color: $white;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4px -7px 0 0;
  }
}