//
// Footer
// --------------------------------------------------

.footer-wrapper {
  background-color: $gray-150;
  padding: 100px 0 100px 0;
  font-size: 0.875rem;
  font-weight: 500;
  @include media-breakpoint-down(xl) {
    padding: 80px 0 80px 0;
  }
  @include media-breakpoint-down(lg) {
    padding: 64px 0 64px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 40px 0 40px 0;
  }
  p {
    opacity: 0.70;
    margin: 0 0 12px 0;
  }
}

.logo-footer {
  width: 204px;
  height: 27px;
  margin: 0 0 30px 0;
  @include media-breakpoint-down(xl) {
    width: 180px;
    height: 24px;
    margin-bottom: 25px;
  }
  @include media-breakpoint-down(lg) {
    width: 150px;
    height: 20px;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(md) {
    width: 140px;
    height: 19px;
    margin-bottom: 15px;
  }
  svg {
    width: 204px;
    height: 27px;
    display: block;
    @include media-breakpoint-down(xl) {
      width: 180px;
      height: 24px;
    }
    @include media-breakpoint-down(lg) {
      width: 150px;
      height: 20px;
    }
    @include media-breakpoint-down(md) {
      width: 140px;
      height: 19px;
    }
  }
}

.footer-menu {
  font-size: 0.937rem;
  font-weight: 700;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 0 0 7px 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}