body {
	background: #ce6f75;
	font-family: 'PT Serif', serif;
	padding: 2rem;
}


h1 {
	background: #ca66ac url(https://images.unsplash.com/photo-1464982326199-86f32f81b211?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=2ff8b46004acf88415bb98bb42238e9c);
	background-size: 50% 200%;
	background-position: bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
font-family: 'Spirax', cursive;
	font-size: 15vw;
	position: relative;
	text-align: left;
	margin: 0;
	line-height: 1.2;

	&::before {
		content:'Kylie Timpani';
		text-align: center;
		position: absolute;
		z-index: -1;
	}
}

.position{
	font-size: 7vw;
	text-align: right;
	margin: 0 0 1rem 0;
	color: #f6d6b5;
	text-transform: uppercase;	
}
	
div {
	max-width: 800px;
	margin: 0 auto;
	color: #313157;

}

.question {
	width: 50%;
	font-weight: bold;
	font-size: 1.5rem;
	color: #663a70;
	border-bottom: 5px solid #663a70;
	
	&.full {
		width: 55%;
	}
	
	&.wide {
		width: 100%;
	}
}

.questions {
	border-bottom: dotted 2px #663a70;
	margin-bottom: 2rem;
	
	@media screen and (min-width: 768px) {
		columns: 2;
		height: 510px;
	}
	
	&.full {
		columns: unset;
		width: 90%;
		margin: 0;
		border-bottom: none;
	}
	
	&.three-col {
		columns: unset;
		height: auto;
		margin-top: 6rem;
		border-bottom: none;
		position: relative;
		
		@media screen and (min-width: 768px) {
			columns: 3
		}
	}
}

.triangle-left {
	width: 280px;
	height: 280px;
	shape-outside: polygon(55% 0, 0 105%, 105% 100%);
	float: left;
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	background: #ca66ac url(https://images.unsplash.com/photo-1464982326199-86f32f81b211?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=2ff8b46004acf88415bb98bb42238e9c);
	background-size: cover;
	
	&.locked {
		position: relative;
		clip-path: polygon(1% 0px, -1px 100.36%, 98.21% 100.36%);
		shape-outside: polygon(4.93% -9px, 0px 103.93%, 105.72% 102.50%);
		
		.inner {
			clip-path: polygon(5% 21px, 12px 100.4%, 98.41% 100.79%);
		}
	}
}

.overlay {
	bottom: 0;
	left:0;
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	width: 100%;
	height: 200%;
	background: #de8f87;
	position: absolute;
	mix-blend-mode: overlay;
	transform: rotate(180deg);
	
	&.offset {
		transform: rotate(0);
    	bottom: 200%;
		z-index:-1;
	}
}

.inner {
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	width: 90%;
	height: 90%;
	background: #ce6f75;
	top: 50%; 
	position: relative;
	transform: translateY(-50%);
}

.inner2 {
	background: #cbc2a3;
	position: absolute;
	mix-blend-mode: overlay;
}

.inner3 {
	background: #cbc2a3;
	position: absolute;
	mix-blend-mode: overlay;
	bottom: 0;
	top: 100%;
}

.triangle-right {
	width: 300px;
	height: 250px;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	shape-outside: polygon(50% 100%, 0 0, 100% 0);
	float: right;
	background: #ca66ac url(https://images.unsplash.com/photo-1464982326199-86f32f81b211?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=2ff8b46004acf88415bb98bb42238e9c);
	background-size: cover;
	position: relative;
}

blockquote {
	font-size: 1.2em;
	font-weight: 700;
	font-style: italic;
	margin-left: 1rem;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	display: block;
	
	&::before {
		content: "\201C";
		font-size: 5em;
		transform: translate(-55px, -20px);
    	position: absolute;
	}
}

p {
	margin: 0 0 20px 0;
	line-height: 1.35;
}