//
// Accordion
// --------------------------------------------------

.accordion-header {
  padding: 0 58px 20px 0;
  margin: 0 0 0 0;
  position: relative;
  z-index: 0;
  cursor: pointer;
  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M29.169,7.656l-13.169,13.17l-13.169,-13.17c-0.648,-0.647 -1.698,-0.647 -2.346,0c-0.647,0.647 -0.647,1.698 -0,2.345l14.342,14.342c0.648,0.648 1.698,0.648 2.346,0l14.342,-14.342c0.647,-0.647 0.647,-1.698 -0,-2.345c-0.648,-0.647 -1.698,-0.647 -2.346,0Z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 0;
    width: 16px;
    height: 16px;
    content: "";
    display: block;
    margin-top: 0;
  }
  h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }
  &.accordion-active {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.accordion-content {
  padding: 0 0 0 0;
  display: none;
  &.accordion-open {
    padding-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.accordion-wrapper {
  .accordion-header {
    border-bottom: 1px solid $gray-400;
    padding: 30px 58px 30px 0;
    min-height: 84px;
    &:before {
      top: 34px;
    }
    h3, .h3 {
      font-weight: 700;
    }
    &.accordion-active {
      border-bottom: 0px;
    }
  }
  .accordion-content {
    border-bottom: 1px solid $gray-400;
  }
}