//
// Author
// --------------------------------------------------

.author-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .author-avatar {
    display: flex;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 10px 0 0;
    a {
      display: block;
      width: 30px;
      height: 30px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .author-body {
    display: flex;
    flex-direction: column;
    .role {
      color: $gray-800;
      display: block;
      font-size: 0.75rem;
      letter-spacing: 0.4px;
      line-height: 1.2;
    }
    .name {
      color: $gray-800;
      display: block;
      font-size: 0.75rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      line-height: 1.2;
    }
  }
}

.author-main {
  .author-container {
    margin-right: 90px;
    border: 1px solid $gray-400;
    padding: 80px;
    font-size: 1.375rem;
    line-height: 1.59;
    @include media-breakpoint-down(xxl) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-down(xl) {
      font-size: 1.17rem;
      margin-right: 0px;
      padding: 40px;
    }
    @include media-breakpoint-down(lg) {
      font-size: 1.15rem;
      padding: 35px;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.12rem;
      padding: 30px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.12rem;
      padding: 25px;
    }
    ul {
      list-style: none;
      padding: 0 0 0 50px;
      margin: 0 0 40px 0;
      @include media-breakpoint-down(md) {
        padding: 0 0 0 30px;
      }
      li {
        margin: 0 0 18px 0;
        position: relative;
        z-index: 0;
        &:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          top: 12px;
          left: -28px;
          width: 8px;
          height: 8px;
          background-color: $dark;
          border-radius: 50%;
          @include media-breakpoint-down(md) {
            top: 10px;
            left: -20px;
          }
        }
      }
    }
    h1, .h1 {
      font-size: 3rem;
      line-height: 1;
      font-family: $font-family-sans-bold-condensed;
      margin: 0 0 40px 0;
      text-transform: uppercase;
      @include media-breakpoint-down(xxl) {
        font-size: 2.8rem;
      }
      @include media-breakpoint-down(xl) {
        font-size: 2.7rem;
      }
      @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 2.2rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }
    h2, .h2 {
      font-size: 1.8rem;
      @include media-breakpoint-down(lg) {
        font-size: 1.7rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.6rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
      }
    }
    h3, .h3 {
      font-size: 1.562rem;
      @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.4rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.28rem;
      }
    }
    p {
      margin-bottom: 40px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }
  .share-buttons-wrapper {
    left: auto;
    right: 15px;
    @include media-breakpoint-down(xl) {
      right: auto;
    }
  }
}