//
// Books
// --------------------------------------------------

.book-wrapper {
  h1, .h1 {
    font-size: 2.187rem;
    line-height: 1.2;
    margin: 0 0 20px 0;
  }
}

.book-featured-image {
  margin-bottom: 10px;
  background-color: $dark;
  img {
    width: 100%;
    height: auto;
    max-width: 445px;
    display: block;
    margin: 0 auto 0 auto;
    @include media-breakpoint-down(lg) {
      max-width: 300px;
    }
    @include media-breakpoint-down(md) {
      max-width: 250px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 200px;
    }
  }
}

.book-gallery {
  display: flex;
  margin: 0 -10px 0 -10px;
  padding: 0 0 30px 0;
  flex-wrap: wrap;
  a {
    width: calc(33.3333% - 20px);;
    margin: 20px 10px 0 10px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 0;
    border: 1px solid $gray-400;
    &:before {
      content: "";
      position: relative;
      z-index: 0;
      display: block;
      padding-top: 100%;
    }
    img {
      width: 50%;
      height: auto;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .book-wrapper & {
    padding-bottom: 0px;
  }
}

.book-gallery-first-hidden {
  a {
    &:first-child {
      display: none;
    }
  }
}

.book-utilities {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.book-price-wrapper {
  border: 1px solid $gray-400;
  padding: 30px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  .price-main {
    font-size: 2.187rem;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 700;
  }
  .price-full {
    font-size: 1.062rem;
    text-decoration: line-through;
    line-height: 1;
    margin: 0 0 0 7px;
  }
}

.book-short-description {
  font-size: 1.25rem;
}

.book-details {
  .book-details-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 7px 0;
    .title {
      width: 220px;
      display: block;
    }
    .body {
      width: 100%;
    }
  }
}