//
// Nav
// --------------------------------------------------

.main-nav-mobile {
  padding: 20px 20px 20px 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    li {
      display: block;
      a {
        text-decoration: none;
        display: block;
      }
    }
    &.main-menu {
      font-size: 1.262rem;
      li {
        a {
          padding: 4px 0 4px 0;
        }
      }
    }
  }
}

.secondary-nav-mobile {
  padding: 0 20px 20px 20px;
  .footer-menu {
    border-top: 1px solid $gray-200;
    padding: 20px 0 0 0;
    ul {
      margin: 0;
    }
  }
}

.utility-nav-mobile {
  padding: 0 20px 20px 20px;
  .footer-menu {
    ul {
      margin: 0;
    }
  }
}