//
// Pager
// --------------------------------------------------

.pager {
  padding-top: 25px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }
  ol {
    @include list-unstyled;
    display: flex;
    font-size: 1.062rem;
    font-weight: 700;
    justify-content: center;
    margin: 0;
    @include media-breakpoint-down(sm) {
      font-size: 0.95rem;
    }
    li {
      a, span {
        display: block;
        padding: 9.5079px 10px 9.5079px 10px;
        line-height: 1;
        border: 2px solid $gray-900;
        margin: 0 4px 0 4px;
        min-width: 40px;
        text-align: center;
        position: relative;
        z-index: 0;
        text-decoration: none;
        letter-spacing: -1px;
        @include media-breakpoint-down(sm) {
          padding: 5px 4px 5px 4px;
          min-width: 27px;
        }
        svg {
          width: 15px;
          height: 15px;
          fill: $gray-900;
          margin: 0 0 0 0;
          position: relative;
          z-index: 0;
          top: -1px;
          left: -1px;
          @include media-breakpoint-down(sm) {
            width: 8px;
            height: 8px;
          }
        }
      }
      a {
        &:hover {
          text-decoration: none;
          background-color: $gray-900;
          color: $white;
          svg {
            fill: $white;
          }
        }
      }
      &.current {
        a, span {
          background-color: $aquamarine;
          color: $dark;
          border-color: $aquamarine;
        }
      }
      &.next-link {
        position: relative;
        z-index: 0;
        a, span {
          position: relative;
          z-index: 0;
        }
        svg {
          position: relative;
          z-index: 0;
          margin: 0 0 0 4px;
        }
      }
      &.prev-link {
        position: relative;
        z-index: 0;
        a, span {
          position: relative;
          z-index: 0;
        }
        span {
          opacity: 0.2;
        }
        svg {
          position: relative;
          z-index: 0;
          margin: 0 0 0 0;
        }
      }
    }
  }
}