//
// Page
// --------------------------------------------------

.page-wrapper {
  padding: 70px 0 0 0;
  @include media-breakpoint-down(xxl) {
    padding-top: 60px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 55px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 45px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 42px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }
}

.page-container {
  font-size: 1.375rem;
  line-height: 1.59;
  @include media-breakpoint-down(xxl) {
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.17rem;
  }
  @include media-breakpoint-down(lg) {
    font-size: 1.15rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.12rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.12rem;
  }
  ul {
    list-style: none;
    padding: 0 0 0 50px;
    margin: 0 0 40px 0;
    li {
      margin: 0 0 18px 0;
      position: relative;
      z-index: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 12px;
        left: -28px;
        width: 8px;
        height: 8px;
        background-color: $dark;
        border-radius: 50%;
      }
    }
  }
  h3, .h3 {
    font-size: 1.562rem;
  }
  p {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 25px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}

.page-404 {
  text-align: center;
  padding: 0 0 100px 0;
  h3, .h3 {
    font-size: 12rem;
    line-height: 1;
    margin: 0 0 20px 0;
  }
  p {
    font-size: 1.5rem;
    margin: 0 0 20px 0;
  }
}