//
// Purchase configurator
// --------------------------------------------------

.purchase-configurator {
  padding: 40px 0 0 0;
}

.purchase-configurator-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 20px 0;
  .configurator-format {
    width: 65%;
    padding-right: 20px;
  }
  .configurator-copies {
    width: 35%;
  }
  .configurator-cartelle {
    width: 45%;
    padding-right: 20px;
  }
  .configurator-fasce {
    width: 55%;
  }
}

.purchase-configurator-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .price-group {
    .price-label {
      font-size: 1.125rem;
      line-height: 1;
      margin: 0;
    }
    .price-input {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      span {
        font-size: 2.812rem;
        font-weight: 700;
        color: $purple;
        display: block;
        margin: 0 7px 0 0;
        line-height: 1;
      }
      input {
        font-size: 2.812rem;
        letter-spacing: -1.5px;
        line-height: 1;
        font-weight: 700;
        color: $purple;
        padding: 0;
        min-height: auto;
        width: 100%;
        border: 0px;
        &:focus {
          color: $purple;
          background-color: transparent;
          border-color: initial;
          outline: 0;
          box-shadow: none;
        }
      }
      &.disabled {
        opacity: 0.2;
      }
    }
  }
  .btn {
    min-width: 270px;
  }
}

.configurator-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 40px;
  h3, .h3 {
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.2;
  }
  .configurator-info {
    position: relative;
    z-index: 0;
    .trigger-info {
      width: 20px;
      height: 20px;
      position: relative;
      z-index: 0;
      top: -2px;
      margin: 0 0 0 7px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.trigger-customize {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.937rem;
  font-weight: 700;
  svg {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 0;
    top: -1px;
    margin: 0 7px 0 0;
  }
}

.customize-wrapper {
  padding: 30px 0 0 0;
}