//
// Rating
// --------------------------------------------------

.rating-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  p {
    margin: 0 0 0 7px;
    font-size: 0.937rem;
    color: $gray-800;
  }
}

.review-stars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  svg {
    width: 20px;
    height: 20px;
    fill: $dark;
    display: block;
    margin: 0 0 0 0;
  }
}

.reviews-wrapper {
  
}

.review-item {
  margin: 0 0 30px 0;
}

.review-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.review-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  margin: 0 10px 0 0;
  img {
    width: 50px;
    height: 50px;
  }
}

.user-body {
  display: flex;
  flex-direction: column;
  .name {
    color: $gray-800;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.2;
    margin: 0 0 2px 0;
  }
  .date {
    font-size: 0.875rem;
    color: $gray-800;
  }
}