//
// Sections
// --------------------------------------------------

#main-wrapper {
  padding-top: 256px;
  transition: all 0.4s ease;
  position: relative;
  @include media-breakpoint-down(xl) {
    padding-top: 108px;
  }
  .scrolled-header & {
    padding-top: 188px;
  }
}

.section-hero-carousel, .section-featured {
  .container-fluid {
    padding: 0;
  }
}

.section-carousel {
  overflow: hidden;
}

.section-main-title {
  padding: 40px 0 40px 0;
  @include media-breakpoint-down(xxl) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  h1, .h1 {
    font-size: 4rem;
    line-height: 1;
    font-family: $font-family-sans-bold-condensed;
    text-align: center;
    margin: 0 0 20px 0;
    @include media-breakpoint-down(xxl) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-down(xl) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 2.8rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 2.4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }
  .category {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section-padding-bottom {
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 58px;
  .block-list & {
    margin-bottom: 45px;
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 58px;
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 45px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
  
  h2, .h2 {
    font-family: $font-family-sans-bold-condensed;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 12px;
    @include media-breakpoint-down(xl) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.25rem;
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.15rem;
    }
  }
}