//
// Services
// --------------------------------------------------

.service-featured-image {
  margin-bottom: 10px;
  background-color: $dark;
  img {
    width: 100%;
    height: auto;
    max-width: 445px;
    display: block;
    margin: 0 auto 0 auto;
    @include media-breakpoint-down(lg) {
      max-width: 300px;
    }
    @include media-breakpoint-down(md) {
      max-width: 250px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 200px;
    }
  }
}

.service-gallery {
  display: flex;
  margin: 0 -10px 0 -10px;
  padding: 0 0 30px 0;
  flex-wrap: wrap;
  a {
    width: calc(33.3333% - 20px);;
    margin: 20px 10px 0 10px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 0;
    border: 1px solid $gray-400;
    &:before {
      content: "";
      position: relative;
      z-index: 0;
      display: block;
      padding-top: 100%;
    }
    img {
      width: 50%;
      height: auto;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .service-wrapper & {
    padding-bottom: 0px;
  }
}

.service-gallery-first-hidden {
  a {
    &:first-child {
      display: none;
    }
  }
}

.service-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.service-price-wrapper {
  border: 1px solid $gray-400;
  padding: 30px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  .price-main {
    font-size: 2.187rem;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 700;
  }
  .price-full {
    font-size: 1.062rem;
    text-decoration: line-through;
    line-height: 1;
    margin: 0 0 0 7px;
  }
  &.unique-price {
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 25px;
    small {
      width: 100%;
      font-size: 0.937rem;
    }
    p {
      font-size: 1.125rem;
      padding-top: 5px;
    }
  }
}

.service-short-description {
  font-size: 1.25rem;
}

.service-wrapper {
  ul {
    list-style: none;
    padding: 0 0 0 45px;
    margin: 0 0 30px 0;
    li {
      margin: 0 0 18px 0;
      position: relative;
      z-index: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 8px;
        left: -24px;
        width: 8px;
        height: 8px;
        background-color: $dark;
        border-radius: 50%;
      }
    }
  }
}