//
// Share
// --------------------------------------------------

.share-wrapper {
  position: relative;
  z-index: 2;
  a {
    &.toggle-share {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      svg {
        width: 22px;
        height: 22px;
        display: block;
        fill: $dark;
      }
    }
    span {
      color: $gray-800;
      font-size: 0.937rem;
      line-height: 1.2;
      display: block;
      margin: 0 7px 0 0;
    }
  }
  .share-buttons-container {
    display: none;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: -10px;
    .share-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: 1px solid $dark;
      background-color: $white;
      position: relative;
      z-index: 0;
      box-shadow: 0 0 5.85rem rgba($black, .20);
      &:after, &:before {
        bottom: 100%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
        right: 15px;
      }
      &:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000000;
        border-width: 11px;
        margin-left: -11px;
        right: 14px;
      }
      .jssocials-shares {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .jssocials-share {
          border-right: 1px solid $dark;
          a {
            padding: 20px;
          }
          &:last-child {
            border: 0px;
          }
        }
      }
    }
  }
}

.share-buttons-wrapper {
  position: absolute !important;
  z-index: 1;
  top: 0;
  left: -164px;
  width: 60px;
  height: 100%;
  @include media-breakpoint-down(xl) {
    position: relative !important;
    z-index: 0;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin: 30px 0 30px 0;
  }
  #share-buttons {
    width: 100%;
    .jssocials-share {
      border-bottom: 1px solid $gray-900;
      @include media-breakpoint-down(xl) {
        border-bottom: 0px;
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
  .share-buttons {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    border: 1px solid $gray-900;
    @include media-breakpoint-down(xl) {
      background-color: transparent;
      flex-direction: row;
      align-items: inherit;
      padding: 0 0 0 0;
      justify-content: center;
    }
  }
}

.sticky-sidebar-container {
  position: relative;
  z-index: 0;
  min-height: 320px;
  @include media-breakpoint-down(xl) {
    min-height: auto;
  }
}