<!DOCTYPE  html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        Caleran - Date Range Picker
    </title>
    <link href="includes/pace.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto" rel="stylesheet" />
    <link href="includes/bootstrap.min.css" rel="stylesheet" />
    <link href="includes/prism.css" rel="stylesheet" />
    <link href="includes/toc.css" rel="stylesheet" />
    <link href="../build/css/caleran.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="includes/scripts.min.js"></script>
</head>
<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2381659-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-2381659-8');
    </script>

    <div class="all-container">
        <nav class="navbar navbar-default navbar-fixed-top isontop">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <i class='fa fa-calendar'></i>&nbsp;Caleran</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#features">Features</a>
                        </li>
                        <li>
                            <a href="#how-to-use-it">How to use</a>
                        </li>
                        <li>
                            <a href="#properties">Properties</a>
                        </li>
                        <li>
                            <a href="#configuration">Configuration</a>
                        </li>
                        <li>
                            <a href="#available-events">Events</a>
                        </li>
                        <li>
                            <a href="#methods">Methods</a>
                        </li>
                        <li>
                            <a href="#examples">Examples</a>
                        </li>
                        <li>
                            <a href="#changelog">Changelog</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div class="jumbotron">
            <div class="container">
                <div class='row'>
                    <div class='col-md-6'>
                        <h1>The date range picker you've ever needed!</h1>
                        <p>
                            <b>Caleran</b> is a Date Range Picker plugin, built using jQuery and moment.js libraries. It can
                            also be used as a single date picker besides the range selection feature. Can be shown inline
                            or used as a dropdown beside an input.</p>
                            <p class="lead buynow">
                                <a class="btn btn-buynow btn-lg" href="https://codecanyon.net/item/caleran-date-range-picker/19454049?ref=tpaksu" target="_blank" role="button">Get it from CodeCanyon</a>
                              </p>
                    </div>
                    <div class='col-md-6 example-container'>
                        <input type="text" id="caleran-header" />
                        <script type="text/javascript">
                            $("#caleran-header").caleran({ inline: true });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="visible-md visible-lg hidden-sm toc-container" id="scrollspy"></div>
                <div class="col-md-9 col-sm-12 col-md-offset-3 contents" id="contents">
                    <%=content%>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">Taha Paksu © <span class='cpyear'></span>, All Rights Reserved</footer>
        <button class="scroll-to-top">
            <i class="fa fa-arrow-up"></i>
        </button>
    </div>
    <script>
        window.paceOptions = {
            ajax: false,
            restartOnRequestAfter: false,
        };
    </script>
    <script type="text/javascript">
        $(".cpyear").text(moment().year());
        if ((window.innerWidth <= 800 && window.innerHeight <= 600) || (window.innerWidth <= 600 && window.innerHeight <= 800)) {
            $("img").addClass("img-responsive");
        } else {
            tocbot.init({
                tocSelector: '#scrollspy',
                contentSelector: '#contents',
                headingSelector: 'h2',
                collapseDepth: 0,
                fixedSidebarOffset: $("#contents").offset().top - 100,
                positionFixedClass: "affix",
                positionFixedSelector: "#scrollspy",
            });
        }

        $(".doc-feature").wrapInner("<div class='doc-feature-box'></div>");

        $("h2:first").addClass("first-header");
        $('body').scrollspy({
            target: '#navbar',
            offset: $("#navbar").outerHeight()
        });
        $(window).on("scroll", function () {
            if ($(window).scrollTop() < 10) {
                $(".navbar-default").addClass("isontop");
                $(".scroll-to-top").addClass("hidden");
            } else {
                $(".navbar-default").removeClass("isontop");
                $(".scroll-to-top").removeClass("hidden");
            }
        })

        $(this).trigger("scroll");

        window.addEventListener('scroll', function (event) {
            $(".jumbotron").css("background-position", "0 " + ($(window).scrollTop() / 2) + "px");
        }, true);

        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function () {
            navMain.collapse('hide');
        });

        $("#examples").nextUntil("h2").wrapAll("<div id='examples-container'></div>");
        $("#examples-container").find("h3[id]").each(function () {
            $("#examples-toc").append("<a href='#" + $(this).attr("id") + "'>" + $(this).text() + "</a>");
        });

        $(".scroll-to-top").click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, "slow", "swing");
        });

        $("#examples-toc a[href^='#']").click(function () {
            var hash = $(this).attr("href");
            if (window.location.hash != hash) {
                $("html, body").animate({ scrollTop: $(hash).offset().top + $("#navbar").outerHeight() }, 'fast', 'swing', function () {
                    window.location.hash = hash;
                });
            }
        });
    </script>
</body>
</html>