//
// Block Content Image
// --------------------------------------------------

.block-content-image, .block-content-video, .block-content-podcast {
  border: 1px solid $dark;
  margin-bottom: 50px;
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .content-details {
    padding: 28px;
    border-top: 1px solid $dark;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
    span {
      display: block;
      position: relative;
      z-index: 0;
      @include media-breakpoint-down(md) {
        margin-bottom: 5px;
      }
      &.date, &.author, &.time {
        padding: 0 0 0 30px;
        &:before {
          content: "";
          position: absolute;
          z-index: 1;
          top: 2px;
          left: 0;
          display: block;
          width: 18px;
          height: 18px;
          background-position: center center;
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }
      }
      &.date {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M11.426,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.756,-1.757c-0.97,0 -1.757,0.787 -1.757,1.757l-0,6.574c-0,0.969 0.787,1.756 1.757,1.756c0.969,0 1.756,-0.787 1.756,-1.756Z'/%3E%3Cpath d='M24.087,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.757,-1.757c-0.969,0 -1.756,0.787 -1.756,1.757l-0,6.574c-0,0.969 0.787,1.756 1.756,1.756c0.97,0 1.757,-0.787 1.757,-1.756Z'/%3E%3Cpath d='M1.757,3.165c-0.971,0 -1.757,0.787 -1.757,1.757l0,25.321c0,0.971 0.786,1.757 1.757,1.757l28.486,0c0.971,0 1.757,-0.786 1.757,-1.757l0,-25.321c0,-0.97 -0.786,-1.757 -1.757,-1.757l-28.486,0Zm1.756,3.514l24.974,-0c-0,-0 -0,21.808 -0,21.808c-0,-0 -24.974,-0 -24.974,-0l0,-21.808Z'/%3E%3C/svg%3E");
        }
      }
      &.author {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M29.452,32c0.57,0 1.105,-0.277 1.434,-0.742c0.329,-0.466 0.412,-1.062 0.223,-1.599c-2.259,-6.399 -8.314,-10.68 -15.109,-10.68c-6.795,-0 -12.85,4.281 -15.109,10.68c-0.189,0.537 -0.106,1.133 0.223,1.599c0.329,0.465 0.864,0.742 1.434,0.742l26.904,0Zm-2.768,-3.513l-21.368,-0c2.236,-3.67 6.259,-5.995 10.684,-5.995c4.425,0 8.448,2.325 10.685,5.995l-0.001,-0Z'/%3E%3Cpath d='M7.112,8.878c-0,3.172 1.694,6.104 4.445,7.69c2.749,1.585 6.137,1.585 8.886,-0c2.751,-1.586 4.445,-4.518 4.445,-7.69c0,-3.172 -1.694,-6.103 -4.445,-7.689c-2.749,-1.585 -6.137,-1.585 -8.886,-0c-2.751,1.586 -4.445,4.517 -4.445,7.689Zm3.513,0c-0,-1.916 1.024,-3.687 2.687,-4.645c1.663,-0.96 3.713,-0.96 5.376,-0c1.663,0.958 2.687,2.729 2.687,4.645c0,1.917 -1.024,3.688 -2.687,4.646c-1.663,0.959 -3.713,0.959 -5.376,-0c-1.663,-0.958 -2.687,-2.729 -2.687,-4.646Z'/%3E%3C/svg%3E");
        }
      }
      &.time {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M0,16c0,8.837 7.163,16 16,16c8.837,-0 16,-7.163 16,-16c-0,-8.837 -7.163,-16 -16,-16c-8.837,0 -16,7.163 -16,16Zm3.171,-0c0,-7.085 5.744,-12.829 12.829,-12.829c7.085,0 12.829,5.744 12.829,12.829c-0,7.085 -5.744,12.829 -12.829,12.829c-7.085,-0 -12.829,-5.744 -12.829,-12.829Z'/%3E%3Cpath d='M14.414,10.455l0,5.545c0,0.379 0.136,0.745 0.382,1.032l5.635,6.573c0.569,0.664 1.571,0.741 2.235,0.172c0.665,-0.57 0.742,-1.572 0.172,-2.236l-5.252,-6.128c-0,0 -0,-4.958 -0,-4.958c-0,-0.875 -0.711,-1.585 -1.586,-1.585c-0.875,-0 -1.586,0.71 -1.586,1.585Z'/%3E%3C/svg%3E");
        }
      }
    }
    .btn {
      width: 50%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}