//
// Block Carousel Authors
// --------------------------------------------------

.block-carousel-authors {
  .section-title {
    margin-bottom: 0px;
    h2, .h2 {
      margin-bottom: 20px;
    }
  }
  .card-author {
    .card-body {
      padding-top: 18px;
      padding-bottom: 18px;
      h3, .h3 {
        font-size: 1.125rem;
      }
    }
  }
}

