//
// Block Text
// --------------------------------------------------

.block-text {
  position: relative;
  z-index: 0;
  margin: 0 0 40px 0;
  ul {
    list-style: none;
    padding: 0 0 0 50px;
    margin: 0 0 40px 0;
    li {
      margin: 0 0 18px 0;
      position: relative;
      z-index: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 12px;
        left: -28px;
        width: 8px;
        height: 8px;
        background-color: $dark;
        border-radius: 50%;
      }
    }
  }
  &.text-large {
    font-size: 1.5rem;
    letter-spacing: -0.2px;
    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
    ul {
      li {
        &:before {
          top: 14px;
          @include media-breakpoint-down(md) {
            top: 12px;
          }
          @include media-breakpoint-down(sm) {
            top: 11px;
          }
        }
      }
    }
  }
  &.text-normal {
    font-size: 1.25rem;
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.15rem;
      p {
        margin-bottom: 20px;
      }
    }
    ul {
      li {
        &:before {
          top: 11px;
          @include media-breakpoint-down(md) {
            top: 10px;
          }
          @include media-breakpoint-down(sm) {
            top: 9px;
          }
        }
      }
    }
  }
}