//
// Block Photo Gallery
// --------------------------------------------------

.block-photo-gallery {
  margin: 0 0 50px 0;
  h3, .h3 {
    margin: 0 0 10px 0;
    display: block;
    padding: 15px 0 0 0;
  }
}

.photo-gallery {
  display: flex;
  margin: 0 -10px 0 -10px;
  padding: 20px 0 10px 0;
  flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    margin: 0;
  }
  a {
    width: calc(33.33333333% - 20px);;
    margin: 0 10px 20px 10px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.carousel-gallery-caption {
  text-align: center;
  display: block;
  font-size: 1rem;
  p {
    padding: 0;
    margin: 0;
  }
}