//
// Block Carousel Single Photo
// --------------------------------------------------

.block-carousel-single-photo {
  margin: 0 0 50px 0;
}

.carousel-single-photo-caption {
  text-align: center;
  display: block;
  font-size: 1rem;
  p {
    padding: 0;
    margin: 0;
  }
}