//
// Block Featured
// --------------------------------------------------

.block-featured {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  background-color: $dark;
  margin: 0 0 50px 0;
  position: relative;
  z-index: 0;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  .block-double-featured & {
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  .block-thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    width: 50%;
    position: relative;
    z-index: 0;
    min-height: 400px;
    @include media-breakpoint-down(md) {
      width: 100%;
      min-height: 300px;
    }
    @include media-breakpoint-down(sm) {
      min-height: 280px;
    }
    .block-double-featured & {
      min-height: 288px ;
    }
  }
  .block-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 38px 38px 38px 38px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 25px;
    }
    .block-double-featured & {
      padding: 28px;
    }
  }
  .block-footer {
    margin: auto 0 0 0;
    .price {
      font-size: 1.25rem;
      color: $white;
      font-weight: 700;
      margin: 0;
    }
    .date {
      color: $white;
      font-weight: 700;
      position: relative;
      z-index: 0;
      padding: 0 0 0 30px;
      display: block;
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M11.426,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.756,-1.757c-0.97,0 -1.757,0.787 -1.757,1.757l-0,6.574c-0,0.969 0.787,1.756 1.757,1.756c0.969,0 1.756,-0.787 1.756,-1.756Z' style='fill:%23ffffff;'/%3E%3Cpath d='M24.087,8.331l0,-6.574c0,-0.97 -0.787,-1.757 -1.757,-1.757c-0.969,0 -1.756,0.787 -1.756,1.757l-0,6.574c-0,0.969 0.787,1.756 1.756,1.756c0.97,0 1.757,-0.787 1.757,-1.756Z' style='fill:%23ffffff;'/%3E%3Cpath d='M1.757,3.165c-0.971,0 -1.757,0.787 -1.757,1.757l0,25.321c0,0.971 0.786,1.757 1.757,1.757l28.486,0c0.971,0 1.757,-0.786 1.757,-1.757l0,-25.321c0,-0.97 -0.786,-1.757 -1.757,-1.757l-28.486,0Zm1.756,3.514l24.974,-0c-0,-0 -0,21.808 -0,21.808c-0,-0 -24.974,-0 -24.974,-0l0,-21.808Z' style='fill:%23ffffff;'/%3E%3C/svg%3E");
      }
    }
  }
  .block-content {
    h3, .h3 {
      font-family: $font-family-sans-bold-condensed;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.5rem;
      line-height: 1;
      margin: 0 0 20px 0;
      color: $white;
      @include media-breakpoint-down(md) {
        font-size: 2rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.7rem;
      }
      .block-double-featured & {
        font-size: 1.5rem;
      }
      a {
        text-decoration: none;
        color: $white;
      }
    }
    p {
      font-size: 1.125rem;
      line-height: 1.45;
      max-width: 450px;
      color: $white;
      .block-double-featured & {
        font-size: 1rem;
        margin-bottom: 20px;
      }
    }
  }
  &.thumb-right {
    .block-thumb {
      order: 1;
      @include media-breakpoint-down(md) {
        order: 0;
      }
    }
    .block-body {
      order: 0;
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }
  }
}

.block-double-featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .block {
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-right: 15px;
    &:nth-child(even) {
      margin-right: 0px;
    }
    &:nth-child(odd) {
      margin-left: 0px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}