//
// Block Accordion
// --------------------------------------------------

.block-accordion {
  padding-top: 30px;
  @include media-breakpoint-down(md) {
    padding-top: 0px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 0px;
  }
  .accordion-wrapper {
    border: 1px solid $gray-400;
  }
  .accordion-header {
    padding: 50px 70px 50px 50px;
    @include media-breakpoint-down(md) {
      padding: 30px 50px 30px 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 40px 20px 20px;
    }
    h3, .h3 {
      font-size: 1.437rem;
      @include media-breakpoint-down(md) {
        font-size: 1.25rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.15rem;
      }
    }
    &:before {
      right: 40px;
      top: 55px;
      @include media-breakpoint-down(md) {
        right: 30px;
        top: 35px;
      }
      @include media-breakpoint-down(sm) {
        right: 20px;
        top: 23px;
      }
    }
  }
  .accordion-content {
    padding: 0 70px 50px 50px;
    @include media-breakpoint-down(md) {
      padding: 0 50px 30px 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0 40px 20px 20px;
    }
  }
}