//
// Block Quote
// --------------------------------------------------

.block-quote {
  padding: 8px 0 0 80px;
  margin: 0 0 40px 0;
  position: relative;
  z-index: 0;
  @include media-breakpoint-down(md) {
    padding: 0px 0 0 50px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0px 0 0 40px;
  }
  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M12.29,3.908c0.599,0.633 0.566,1.283 -0.1,1.949c-3.064,2.864 -4.929,5.828 -5.595,8.893c-0.2,0.999 0.099,1.498 0.899,1.498c1.399,0 2.581,0.55 3.547,1.649c0.966,1.099 1.449,2.515 1.449,4.246c-0,1.932 -0.55,3.498 -1.649,4.697c-1.099,1.199 -2.581,1.798 -4.446,1.798c-1.799,0 -3.314,-0.666 -4.547,-1.998c-1.232,-1.333 -1.848,-3.131 -1.848,-5.396c-0,-6.994 3.431,-12.856 10.292,-17.585c0.732,-0.467 1.398,-0.383 1.998,0.249Zm19.284,0c0.6,0.633 0.566,1.283 -0.1,1.949c-3.131,2.864 -4.996,5.828 -5.595,8.893c-0.2,0.999 0.1,1.498 0.899,1.498c1.399,0 2.565,0.55 3.497,1.649c0.933,1.099 1.399,2.515 1.399,4.246c-0,1.932 -0.55,3.498 -1.649,4.697c-1.099,1.199 -2.548,1.798 -4.346,1.798c-1.799,0 -3.314,-0.666 -4.546,-1.998c-1.233,-1.333 -1.849,-3.131 -1.849,-5.396c0,-6.994 3.431,-12.856 10.292,-17.585c0.732,-0.467 1.399,-0.383 1.998,0.249Z'/%3E%3C/svg%3E");
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.55;
    @include media-breakpoint-down(md) {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      top: 3px;
    }
    @include media-breakpoint-down(sm) {
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      top: 2px;
    }
  }
  blockquote {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 1.27;
    opacity: 0.75;
    max-width: 590px;
    color: $gray-800;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.55rem;
    }
  }
  span {
    &.author {
      font-size: 1.125rem;
      font-weight: 700;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.9rem;
      }
    }
  }
}