//
// Block Map
// --------------------------------------------------

.block-map {
  display: flex;
  border: 1px solid $dark;
  flex-direction: row;
  flex-wrap: nowrap;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  .block-map-embed {
    position: relative;
    z-index: 0;
    width: 50%;
    min-height: 420px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      min-height: 300px;
    }
    iframe {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .block-body {
    width: 50%;
    padding: 64px 58px 64px 58px;
    @include media-breakpoint-down(md) {
      padding: 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 22px;
    }
    h3, .h3 {
      font-size: 2rem;
      text-transform: uppercase;
      font-family: $font-family-sans-bold-condensed;
      margin: 0 0 20px 0;
      @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
        margin-bottom: 12px;
      }
    }
    address {
      p {
        font-size: 1.125rem;
        margin: 0 0 15px 0;
        @include media-breakpoint-down(sm) {
          font-size: 1rem;
          margin-bottom: 10px;
          line-height: 1.4;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0 0 0 25px;
      font-size: 1.125rem;
      margin: 0;
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
      li {
        position: relative;
        z-index: 0;
        margin: 0 0 5px 0;
        &:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          top: 5px;
          left: -25px;
          width: 20px;
          height: 20px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-color: transparent;
          border-radius: 0px;
          @include media-breakpoint-down(sm) {
            width: 16px;
            height: 16px;
            background-size: 16px 16px;
          }
        }
        &.icon-phone {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M19.002,30.623c0.012,0.007 0.023,0.015 0.035,0.022c3.424,2.187 7.947,1.695 10.821,-1.177l0.993,-0.993c1.535,-1.537 1.535,-4.064 0,-5.601l-4.163,-4.163c-1.538,-1.535 -4.065,-1.535 -5.603,-0c-0,0 -0,0 -0,0c-0.296,0.295 -0.782,0.295 -1.077,0c-0,0 -6.692,-6.691 -6.692,-6.691c-0.295,-0.296 -0.295,-0.782 0,-1.077c0,-0 0,-0 0.001,-0.001c1.534,-1.537 1.534,-4.065 -0,-5.602l-4.183,-4.177c-1.537,-1.534 -4.064,-1.534 -5.6,0.001l-0.993,0.993c-2.874,2.873 -3.366,7.398 -1.178,10.822c0.008,0.011 0.015,0.023 0.023,0.034c4.692,6.942 10.673,12.92 17.616,17.61Zm1.774,-2.665c-6.588,-4.453 -12.263,-10.125 -16.72,-16.71c-1.376,-2.17 -1.062,-5.018 0.748,-6.828l0.992,-0.992c0.295,-0.295 0.781,-0.295 1.076,0.001l4.179,4.172c0.296,0.297 0.296,0.784 -0,1.08c-1.535,1.537 -1.535,4.064 0,5.601l6.695,6.694c1.537,1.535 4.064,1.535 5.6,0c0.297,-0.295 0.784,-0.295 1.081,0.001c-0,-0 4.159,4.159 4.159,4.159c0.295,0.296 0.295,0.781 0,1.077c0,-0 -0.991,0.991 -0.991,0.991c-1.807,1.806 -4.647,2.122 -6.807,0.762l-0.012,-0.008Z'/%3E%3C/svg%3E");
          }
        }
        &.icon-fax {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M27.2,32c0.884,-0 1.6,-0.716 1.6,-1.6l0,-17.6c0,-0.424 -0.169,-0.831 -0.469,-1.131l-11.2,-11.2c-0.3,-0.3 -0.707,-0.469 -1.131,-0.469l-11.2,0c-0.884,0 -1.6,0.716 -1.6,1.6l0,28.8c0,0.884 0.716,1.6 1.6,1.6l22.4,0Zm-1.6,-3.2l-19.2,0c-0,-0 -0,-25.6 -0,-25.6c-0,0 8.937,0 8.937,0c0,0 10.263,10.263 10.263,10.263l-0,15.337Z'/%3E%3Cpath d='M14.4,1.6l0,11.2c0,0.884 0.716,1.6 1.6,1.6l11.2,-0c0.883,-0 1.6,-0.717 1.6,-1.6c-0,-0.883 -0.717,-1.6 -1.6,-1.6l-9.6,0c0,0 0,-9.6 0,-9.6c0,-0.883 -0.717,-1.6 -1.6,-1.6c-0.883,-0 -1.6,0.717 -1.6,1.6Z'/%3E%3C/svg%3E");
          }
        }
        &.icon-email {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M1.6,1.6c-0.884,0 -1.6,0.716 -1.6,1.6l-0,25.6c0,0.884 0.716,1.6 1.6,1.6l28.8,-0c0.884,-0 1.6,-0.716 1.6,-1.6l-0,-25.6c-0,-0.884 -0.716,-1.6 -1.6,-1.6l-28.8,0Zm1.6,3.2l25.6,0c0,0 0,22.4 0,22.4c-0,-0 -25.6,-0 -25.6,-0c-0,-0 0,-22.4 0,-22.4Z'/%3E%3Cpath d='M0.568,7.623l12.336,10.409c1.781,1.503 4.411,1.503 6.192,0c-0,0 12.336,-10.409 12.336,-10.409c0.675,-0.57 0.76,-1.58 0.191,-2.255c-0.57,-0.675 -1.58,-0.76 -2.255,-0.191l-12.336,10.41c-0.594,0.501 -1.47,0.501 -2.064,-0l-12.336,-10.41c-0.675,-0.569 -1.685,-0.484 -2.255,0.191c-0.569,0.675 -0.484,1.685 0.191,2.255Z'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}