//
// Block Card Featured
// --------------------------------------------------

.block-card-featured {
  .card-featured {
    .card-thumb {
      position: absolute;
      z-index: 1;
      top: 0;
      min-height: initial;
      height: 100%;
      @include media-breakpoint-down(md) {
        position: relative;
        z-index: 0;
        top: auto;
      }
    }
    &.thumb-left {
      .card-thumb {
        left: 0;
        @include media-breakpoint-down(md) {
          left: auto;
        }
      }
    }
    &.thumb-right {
      .card-thumb {
        right: 0;
        @include media-breakpoint-down(md) {
          right: auto;
        }
      }
    }
    .card-body {
      width: auto;
      padding: 100px 0 100px 0;
      @include media-breakpoint-down(xl) {
        padding: 60px 0 60px 0;
      }
      @include media-breakpoint-down(lg) {
        padding: 40px 0 40px 0;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 30px 0 40px 0;
      }
    }
  }
}