//
// Block Carousel Books
// --------------------------------------------------

.block-carousel-books {
  .section-title {
    margin-bottom: 45px;
  }
  .card-book {
    .card-body {
      .card-content {
        h3, .h3 {
          font-size: 1.375rem;
          margin-bottom: 15px;
          min-height: 50px;
          @include media-breakpoint-down(xl) {
            font-size: 1.35rem;
          }
          @include media-breakpoint-down(lg) {
            font-size: 1.25rem;
          }
        }
        .author {
          font-size: 0.687rem;
          letter-spacing: 0.46px;
        }
      }
    }
  }
}

