//
// Block WP Standard
// --------------------------------------------------

.wp-block-image {
  img {
    width: 100% !important;
    height: auto !important;
  }
}

.wp-block-quote {
  border-left: 10px solid $purple;
  padding: 0 0 0 30px;
  margin: 0 0 40px 0;
}

.wp-block-embed__wrapper {
  iframe {
    width: 100%;
    max-width: 946px;
    height: 530px;
    @include media-breakpoint-down(lg) {
      width: 100%;
      height: 480px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 430px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 400px;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
      height: 300px;
    }
    @media (max-width: 500px) {
      width: 100%;
      height: 260px;
    }
    @media (max-width: 450px) {
      width: 100%;
      height: 240px;
    }
    @media (max-width: 400px) {
      width: 100%;
      height: 210px;
    }
    @media (max-width: 360px) {
      width: 100%;
      height: 190px;
    }
  }
}