//
// Block Title Line
// --------------------------------------------------

.block-title-line {
  position: relative;
  z-index: 0;
  margin: 0 0 35px 0;
  @include media-breakpoint-down(md) {
    margin-bottom: 25px;
  }
  h3, .h3 {
    font-family: $font-family-sans-bold-condensed;
    font-size: 1.562rem;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    background-color: $white;
    padding: 0 20px 0 0;
    display: inline-block;
    margin: 0;
    @include media-breakpoint-down(md) {
      font-size: 1.4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.35rem;
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $gray-200;
    margin-top: -0.5px;
  }
}