//
// Blocks
// --------------------------------------------------

.vw-100 {
  position: relative;
  z-index: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.block-overlayed {
  position: relative;
  z-index: 0;
  margin-top: -120px;
}

.block-title {
  margin: 20px 0 50px 0;
  @include media-breakpoint-down(xl) {
    margin: 15px 0 40px 0;
  }
  @include media-breakpoint-down(lg) {
    margin: 10px 0 30px 0;
  }
  @include media-breakpoint-down(md) {
    margin: 0 0 25px 0;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0 20px 0;
  }
  h3, .h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: $font-family-sans-bold-condensed;
    margin: 0 0 0 0;
    @include media-breakpoint-down(xl) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.7rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
  h4, .h4 {
    font-size: 1.562rem;
    text-transform: uppercase;
    font-family: $font-family-sans-bold-condensed;
    margin: 0 0 0 0;
    
  }
}

.block-h2-page {
  padding: 0 0 30px 0;
  h2, .h2 {
    font-size: 3rem;
    margin: 0 0 0 0;
    font-family: $font-family-sans-bold-condensed;
    text-transform: uppercase;
    @include media-breakpoint-down(xxl) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(xl) {
      font-size: 2.3rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.65rem;
    }
  }
}