//
// Block Repeater Program
// --------------------------------------------------

.block-repeater-program {
  margin: 0 0 40px 0;
  .card {
    margin: 0 0 8px 0;
    border-radius: 8px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}