//
// Block Main Image
// --------------------------------------------------

.block-main-image {
  position: relative;
  z-index: 0;
  margin: 0 0 45px 0;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}