//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}


.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    @include font-size($font-size);
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}

//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

.list-unstyled, .list-simple {
  @include list-unstyled();
}

.list-simple {
  li {
    margin: 0 0 12px 0;
    a {
      text-decoration: none;
    }
  }
  .card-categories & {
    font-size: 1.062rem;
    margin-bottom: 50px;
  }
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size($initialism-font-size);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-font-size);

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-footer-font-size);
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

.main-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  h1, .h1 {
    font-size: 2.5rem;
    @include media-breakpoint-down(md) {
      font-size: 2.0rem;
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
  }
  .share-wrapper {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
}

.price-simple {
  margin: 10px 0 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  .price-main {
    font-size: 2.187rem;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 700;
  }
  .price-full {
    font-size: 1.062rem;
    text-decoration: line-through;
    line-height: 1;
    margin: 0 0 0 7px;
  }
}

.list-text-icons {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    z-index: 0;
    padding: 0 0 0 34px;
    margin: 0 0 15px 0;
    min-height: 24px;
    svg {
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
    p {
      margin: 0;
    }
  }
}

.category-title {
  margin: 0 0 45px 0;
  h1, .h1 {
    font-size: 2.187rem;
    margin: 0;
  }
}

.box-adv {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.address-wrapper {
  small {
    font-size: 0.937rem;
    display: block;
    margin: 0 0 12px 0;
  }
  address {
    position: relative;
    z-index: 0;
    padding: 0 0 0 30px;
    margin: 0 0 0 0;
    font-size: 0.937rem;
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      display: block;
      content: "";
      background-position: center center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath id='Shape' d='M16,0c-6.947,0 -12.6,5.653 -12.6,12.6c0,6.947 7.314,14.867 12.6,19.4c5.282,-4.53 12.6,-12.452 12.6,-19.4c-0,-6.947 -5.653,-12.6 -12.6,-12.6Zm0,27.804c-3.355,-3.145 -9.45,-9.947 -9.45,-15.204c0,-5.212 4.238,-9.45 9.45,-9.45c5.212,-0 9.45,4.238 9.45,9.45c-0,5.257 -6.095,12.059 -9.45,15.204Z' style='fill-rule:nonzero;'/%3E%3C/svg%3E");
    }
  }
}

.search-results-empty {
  background-color: $gray-100;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.062rem;
    margin: 0;
    opacity: 0.5;
  }
}

.link-icon {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.937rem;
  font-weight: 700;
  svg {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 0;
    top: -1px;
    margin: 0 7px 0 0;
  }
  .favourite {
    margin: 0 0 0 0;
  }
}