/*
Theme Name: ElleDiLibro
Text Domain: elledilibro
Version: 1.0
Description: Tema per ElleDiLibro
Author: bititup
Author URI: https://bititup.it/
*/

/** CF7  */
.wpcf7-list-item label{
    font-size: .937rem;
    display:inline-block;
}

/** login logout **/
#main-header{
    z-index:8000 !important;
}

.top-header-content .learndash-wrapper{
    width:100px;
    margin-right:10px;
}
#main-header .top-header-content .learndash-wrapper .ld-button{
    background:none !important;
    color:#000;
    font-size:16px;
    text-transform:uppercase;
    padding-left:0px;
}

.top-header-content .ld-icon{
    font-size:24px !important;
}
.ld-logout .ld-icon{
    font-size:12px !important;
    padding-left:6px;
}

/**  dashboard **/
.woocommerce-MyAccount-navigation{
    border: solid 2px #ccc;
    margin-bottom:20px;
}

.woocommerce-MyAccount-navigation ul{
    padding: 40px 0px 0px 40px;
}

.woocommerce-MyAccount-navigation ul li:before{
    display:none;
}

.woocommerce-MyAccount-navigation a{
    text-decoration:none;
    font-size:20px
}

.woocommerce-MyAccount-content{
    padding-left:20px;
}

.woocommerce-MyAccount-content a{
    color: #b2529e;
    font-weight:bold;
}

/**  gift-card  **/
.purchase-configurator-top .configurator-row {
    width: 100%;
}

.purchase-configurator-top .select-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cfcfcf;
    appearance: none;
    border-radius: 0;
    transition: background-color  .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: calc(1.5em + 2.188rem + 2px);
    padding: 1.094rem 2rem;
    font-size: 1.125rem;
    margin: 8px;
    cursor: pointer;
}

.purchase-configurator-top .select-button:hover {
    background-color: #cfcfcf;
}

.purchase-configurator-top .select-button.active {
    background-color: #cfcfcf;
}

.simplefavorite-button.active{
    filter: invert(46%) sepia(11%) saturate(2584%) hue-rotate(260deg) brightness(89%) contrast(92%);
}

.woocommerce-MyAccount-content h3 a, .woocommerce-MyAccount-content .category a {
    color: #000 !important;
}

.favourite svg{
    height:20px;
    width:20px;
}

.favourite{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right:20px;
}
